---
layout: _layout/page
title: Gotcha
blockRobots: true
newsletter: ''
footer: blank
---

{%- markdown %}
# Okie dokes

Thanks for letting me know you're coming! I'll send you a reminder email closer to date.
{%- endmarkdown %}
