---
import { FancyList, Heading, Markdown } from '@splendidlabz/astro'
---

<section class="section-mini bg-zpurple-900">
  <div class="wrap">
    <div class="vertical">
      <Heading class="gap-4" center>
        <h2 class="h1 max-w-[12em] mx-auto text-zorange-500">
          Save Yourself From Weeks of Frustration
        </h2>
        <p class="h1-subhead">Grab the systems, use them, and move on</p>
      </Heading>

      <div class="prose-responsive max-w-narrow mx-auto">
        <!-- prettier-ignore -->
        <Markdown>

          Astro gives you a great start. But you still have to figure out many things on your own: 

          - Wiring up content collections 
          - Handling images without layout shifts 
          - Wiring up SEO 
          - Building forms 
          - Connecting payments
          - Making authentication work

          That takes weeks per system --- and it usually takes a few rounds to get everything right. (I know because I've been through it).

          Since then, **I've built many Astro sites and upgraded my systems**, so I can build any site --- blogs, marketing sites, and webapps, you name it --- with speed, quality, and ease. 
          
          Each of these systems took me weeks to get right, so we're talking about months of effort saved if you picked this up. 

          You'll stop doing these: 
        </Markdown>

        <div class="card border-zred-500 bg-zred-850 p-3 rounded-1r">
          <FancyList
            class="ml-0 simple-svg fill-zred-500 text-zred-50"
            icon="ph:x"
            items={[
              'Reinventing content structure',
              'Fighting image imports and layout shifts',
              'Debugging invisible SEO problems',
              'Wrestling with forms, sanitization, redirects',
              'Figuring out email HTML and inline CSS',
              'Building auth from scratch (again)',
              'Fussing around with complex queries',
              'Piecing Stripe together from overwhelming docs and Stack Overflow',
            ]}
          />
        </div>

        And do this instead:

        <div
          class="card border-zgreen-500 bg-zgreen-900 border-scaffold p-3 rounded-1r"
        >
          <FancyList
            class="ml-0 simple-svg text-zgreen-50 fill-zgreen-500"
            icon="ph:check"
            items={[
              'Open the system you need',
              'Find the pattern that helps',
              'Grab the code',
              'Use it',
              'Move on',
            ]}
          />
        </div>

        <!-- prettier-ignore -->
        <Markdown>
          No more unnecessary frustration. 
          
          No more time wasted on problems that have been solved. 
        </Markdown>
      </div>
    </div>
  </div>
</section>
