---
import { Heading, Markdown } from '@splendidlabz/astro'
const url = 'https://store.zellwk.com/practical-astro/'
---

<section id="pricing" class="section bg-zpurple-900">
  <div class="wrap">
    <div class="vertical gap-6">
      <Heading center>
        <h2 class="h1 text-zorange-500">8 Systems, Yours Today</h2>
      </Heading>

      <div
        class="grid-simple bp8:[--cols:2] max-w-[32rem] bp8:max-w-[60rem] items-center mx-auto gap-10 mt-2"
      >
        <div
          class="card-divided card-divided-vertical [--border-color:var(--color-neutral-800)]"
        >
          <header class="bg-zpurple-1100">
            <div class="h4 text-zred-500">Practical Astro</div>
          </header>
          <div class="content bg-zpurple-1000">
            <ul class="text-8 tabular-nums text-zgray-400 vertical gap-0.25">
              <li class="horizontal justify-between items-center gap-1.25">
                <span>1. </span>
                <span>Content Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>2. </span>
                <span>Image Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>3. </span>
                <span>SEO & Discovery</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>4. </span>
                <span>Form Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>5. </span>
                <span>Email Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>6. </span>
                <span>Database Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$49</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>7. </span>
                <span>Auth Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$149</span>
              </li>
              <li class="horizontal justify-between items-center gap-1.25">
                <span>8. </span>
                <span>Payment Systems</span>
                <span class="h-[1em] flex-grow border-b-1 border-dotted"></span>
                <span>$99</span>
              </li>
              <li
                class="horizontal justify-between items-center gap-1.25 mt-1.25"
              >
                <span class="text-zpurple-50">Total</span>
                <span class="strong text-zred-500">$541</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="vertical">
          <div class="prose">
            <!-- prettier-ignore -->
            <Markdown>
              Save 100+ of hours of your time and **bring back the ease and joy of building**. 

            *Price goes up as modules ship*. Preorder now for the lowest price.
          </Markdown>
          </div>

          <div class="vertical gap-2">
            <div class="horizontal self-center">
              <div
                class="h1-subhead text-15 strikethrough [--strike-color:var(--color-zred-500)] [--strike-angle:-12deg] tabular-nums"
              >
                <span class="opacity-38">$541</span>
              </div>
              <div class="h1-subhead text-15">
                <span class="text-zorange-500">$149 only</span>
              </div>
            </div>
          </div>

          <div class="vertical gap-2">
            <a href={url} class="button button-large pigment-cyan-filled">
              <Markdown inline>Get Practical Astro</Markdown>
            </a>
            <div class="vertical gap-1">
              <p class="text-8 text-zgray-500 text-center italic">
                Pay once. Lifetime updates. Price rises May 1st.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
