---
import { Heading, Markdown, SVG } from '@splendidlabz/astro'
---

<section class="section bg-zpurple-900">
  <div class="wrap">
    <div class="vertical">
      <SVG class="w-[6rem] mx-auto" icon="astro" />

      <Heading center>
        <h2 class="h1 max-w-[11em] mx-auto text-zorange-500">
          Imagine what you'll build next
        </h2>
      </Heading>

      <div class="prose-responsive max-w-[40rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Your next Astro project doesn't have to be a slog.

          I've already solved the hard parts. What's left is putting them into your hands --- Image, Content, Auth, Payments, SEO, and more.

          From now on, you get to work on the fun parts. Make something great. Build what you want --- and hit a homerun. 
        </Markdown>

        <div class="vertical gap-2 text-center">
          <a href="#pricing" class="button button-large pigment-orange-filled">
            <Markdown inline>Get Practical Astro --- $149</Markdown>
          </a>
          <p class="text-8 text-zgray-500 italic">
            Skip the trial and error. Keep the systems forever.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
