---
import NewsletterForm from '@/components/NewsletterForm.svelte'
import { Heading, If, Markdown } from '@splendidlabz/astro'

const {
  class: klass,
  hasEyebrow = true,
  title = 'Launching Soon',
} = Astro.props
---

<section id="pricing" class="section bg-zpurple-900">
  <div class="wrap">
    <div class="vertical gap-6">
      <Heading class="gap-3" center>
        <If condition={hasEyebrow}>
          <a href="../" class="eyebrow pill"> Part of Practical Astro </a>
        </If>
        <h2 class="h1 text-zorange-500">Launching Soon</h2>
      </Heading>

      <div class="prose-responsive max-w-narrow mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Drop your email and I'll reach out when more information is ready. [Here's everything that's gonna drop!](/courses/practical-astro/#whats-inside).
        </Markdown>

        <NewsletterForm
          list="practicalAstro"
          redirect="/courses/newsletters/confirm/"
          client:load
        />
      </div>
    </div>
  </div>
</section>
