.accordion {
  .accordion-title {
    @apply stinger;
    --font-weight: 450;
    background: var(--color-zpurple-1100);

    .open & {
      color: var(--color-zorange-500);
    }
  }

  .accordion-content {
    background: var(--color-zpurple-900);
  }
}
