.article {
  header {
    @apply vertical gap-4;
  }

  .meta {
    @apply vertical gap-0.5;
    @apply june;
    @apply text-7 bp8:text-8;
    --font-style: 60;
  }

  #content {
  }
}

.prose {
  @apply text-8 bp8:text-10;
}
