.blog-list {
  @apply vertical bp6:grid-auto-fr items-baseline gap-3;
}

.blog-list-item {
  @apply bp6:subgrid-columns;
  --span: 2;

  .date {
    @apply max-bp6:hidden;
    @apply stinger;
    @apply text-9;
    --font-weight: 500;
    margin-top: 0.3em;
    color: var(--color-zgray-400);
  }

  .title {
    @apply june;
    @apply text-9 bp8:text-11;
    --font-style: 60;
    --font-weight: 450;
  }

  .external {
    @apply transition-scaffold;
    @apply stinger;
    @apply text-6;
    --font-width: 108;
    --font-weight: 500;
    color: var(--color-zgray-500);
  }

  .title:where(:hover, :focus, :active) {
    .external {
      color: var(--color-zgray-600);
    }
  }

  .meta {
    @apply june;
    @apply text-5 bp8:text-7;
    @apply flow gap-[0.25em] text-zgray-500;
    --font-style: 60;
  }
}
