form {
  --border-width: 2px;
  --border-color: var(--color-zgray-700);
  --radius: 0.5rlh;

  .label {
    /* @apply snug; */
    @apply stinger;
    --font-width: 92;
    --font-weight: 700;
    color: var(--color-zpurple-500);
  }

  .hint {
    @apply stinger;
    @apply text-8;
    --font-width: 108;
  }

  .label + .hint {
    margin-top: -0.25rlh;
  }

  /* Override autofill bright background */
  /* input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--color-zpurple-1000) inset !important;
    -webkit-text-fill-color: var(--color-zpurple-100) !important;
  }

  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    color: var(--color-zpurple-100) !important;
    box-shadow: 0 0 0 30px var(--color-zpurple-1000) inset !important;
  } */
}

.newsletter-form {
  --border-color: var(--color-zred-500);

  .label {
    color: var(--color-zred-500);
  }
}
