.main-nav {
  .logo {
    @apply june;
    @apply june-curious;
    @apply text-13;
    --text-color: var(--color-zgray-500);
    --text-hover-color: var(--color-zpurple-500);
  }

  .link {
    @apply stinger-fit;
    @apply text-8;
    --font-style: 60;
    --font-width: 108;
    --font-weight: 400;
    --text-color: var(--color-zgray-500);
    --text-hover-color: var(--color-zorange-500);
  }
}
