@utility prose {
  --theme-color: var(--color-zorange-500);
  --ec-codeFontSize: 1em;
  --ec-codeFontFml: 'Jetbrains Mono', monospace;
  --ec-uiFontFml: 'Jetbrains Mono', monospace;
  --ec-uiFontSize: 0.65em;
  --ec-uiPadBlk: 0.5rem;
  --ec-uiPadInl: 1rem;
  --ec-uiLineHt: inherit;
  --ec-codeLineHt: inherit;
  --ec-codePadBlk: 1rem;
  --ec-codePadInl: 1rem;
  --ec-brdRad: calc(var(--radius) * 0.5);
  --ec-brdWd: var(--border-width);
  --ec-brdCol: var(--border-color);
  --ec-frm-edTabBrdRad: calc(var(--radius) * 0.5);
  --ec-frm-frameBoxShdCssVal: none;
  --ec-frm-edBg: var(--color-zpurple-900);
  --ec-frm-edActTabBg: var(--color-zpurple-900);
  --ec-frm-edTabBarBg: var(--color-zpurple-1000);
  --ec-frm-edActTabIndBtmCol: var(--color-zorange-500);
  --ec-frm-edTabBarBrdCol: var(--border-color);
  --ec-frm-edActTabIndHt: var(--border-width);

  h2 {
    @apply h2;
    color: var(--theme-color);
  }

  h3 {
    @apply h3;
    color: var(--theme-color);
  }
}

@utility prose-responsive {
  @apply prose;
  @apply text-8 bp6:text-9 bp8:text-10;
}

.prose-responsive blockquote {
  @apply prose;
  position: relative;
  gap: 0.75lh;
  margin-top: 1lh;
  padding-left: 1em;

  p {
    @apply stinger-fit text-zgray-400 relative;
    font-size: 0.85em;
  }

  &::before {
    @apply june text-[10.5rem] leading-[1] text-zred-700d pos-topleft absolute;
    content: '“';
    top: calc(var(--spacing) * -5.5);
    left: 0;
  }
}
