.prose {
  --theme-color: var(--color-zorange-500);

  h2 {
    @apply h2;
    color: var(--theme-color);
  }

  h3 {
    @apply h3;
    color: var(--theme-color);
  }
}

.prose-responsive {
  @apply prose;
  @apply text-8 bp8:text-10;
}
