@utility section {
  --spacing-section: 2.5rlh;
  padding-block: var(--spacing-section);

  @media screen and (width >= 800px) {
    --spacing-section: 5rlh;
  }
}

.section-mini {
  @apply section;

  .section + &,
  & + & {
    padding-block-start: calc(var(--spacing-section) * 0.5);
  }
}
