@theme inline {
  --spacing-section: 2.5rlh;
  --spacing-section-mini: calc(var(--spacing-section) * 0.5);
  --spacing-section-cont: 0;
}

:root {
  @media screen and (width >= 800px) {
    --spacing-section: 5rlh;
  }
}

@utility section {
  padding-block: var(--spacing-section);
}

@utility section-mini {
  padding-block: var(--spacing-section-mini);
}

@utility section-cont {
  @apply section;

  .section + &,
  & + & {
    padding-block-start: var(--spacing-section-cont);
  }
}
