.testimonial-large {
  --negative-margin: 0;

  &:nth-child(odd) > *:first-child {
    order: 1;
    margin-left: var(--negative-margin);
  }

  &:nth-child(even) > *:first-child {
    margin-right: var(--negative-margin);
  }

  .card {
    position: relative;
    z-index: 1;
  }

  @media screen and (width >= 800px) {
    --negative-margin: -1rlh;
  }
}
