.testimonial-large {
  --negative-margin: -1rlh;

  &:nth-child(odd) > *:first-child {
    order: 1;
    margin-left: var(--negative-margin);
  }

  &:nth-child(even) > *:first-child {
    margin-right: var(--negative-margin);
  }

  .card {
    position: relative;
    z-index: 1;
  }
}
