---
import { Markdown } from '@splendidlabz/astro'
---

<blockquote class="stack">
  <div class="june text-[10.5rem] leading-[1] text-zred-700d">&ldquo;</div>
  <div class="pt-8.5 pl-14">
    <div class="prose stinger-fit text-9 text-zgray-400">
      <Markdown inline>
        <p>
          I'm always <span class="text-zpurple-500">designing</span>,
          <span class="text-zcyan-500">aligning</span><br />
          <span class="text-zorange-500">Combining</span> ideas, and <span
            class="text-zred-500">always refining</span
          >
          <br />
          I'm a real bright thinker and a genius when I tinker <br />
          With a love of problem-solving as a model canoe sinker
        </p>
        <p>
          We're failing fantastically, yes, we're a mess <br />
          And we're messing up drastically, falling on your face is the best
          <br />
          If you do it wrong, then you <span class="text-zpurple-500">
            run another test
          </span><br />
          There's really only <span class="text-zcyan-500">failing</span>, then <span
            class="text-zorange-500">learning</span
          >, then <span class="text-zred-500">death</span>
        </p>
      </Markdown>
    </div>
    <footer class="strong mt-2 text-zred-500">— Loto, Moana 2</footer>
  </div>
</blockquote>
