<footer class="c-footer" role="contentinfo">
  <div class="l-wrap">
    <div class="l-wrap__full l-footer__wrap">
      <div class="c-footer__info">
        <p>© 2020, Zell Liew</p>
      </div>
    </div>
  </div>
</footer>
