<footer class="c-footer" role="contentinfo">
  <div class="l-wrap">
    <div class="l-wrap__full l-footer__wrap">
      <div class="c-footer__cta">
        <ol class="c-footer__nav">
          <li>
            <span>More about Zell</span>
            <ol>
              <li> <a href="/about">About</a> </li>
              <li> <a href="/contact">Contact</a> </li>
              {# <li> <a href="/contact">Fun facts</a> </li> #}
            </ol>
          </li>

          <li>
            <span>Things I made</span>
            <ol>
              <li> <a href="/products#course-section">Courses</a> </li>
              <li> <a href="/products#library-section">Libraries</a> </li>
              {# <li> <a href="/contact">Mini-courses</a> </li> #}
            </ol>
          </li>

          <li>
            <span>Subscribe</span>
            <ol>
              <li> <a href="/newsletter">Email</a> </li>
              <li> <a href="/rss">RSS</a> </li>
            </ol>
          </li>
        </ol>
      </div>

      <div class="c-footer__info">
        <p class="s2">©2016-2018, Zell Liew</p>
      </div>
    </div>
  </div>
</footer>
