<footer class="c-footer" role="contentinfo">
  <div class="l-wrap">
    <div class="l-wrap__full l-footer__wrap">
      <div class="c-footer__cta">
        <ul class="c-footer__nav">
          <li>
            <span>About Zell</span>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </li>

          <li>
            <span>Things I made</span>
            <ul>
              <li>
                <a href="/products#course-section">Courses</a>
              </li>
              <li>
                <a href="/products#library-section">Libraries</a>
              </li>
            </ul>
          </li>

          <li>
            <span>Newsletter</span>
            <ul>
              <li>
                <a href="/newsletter">Email</a>
              </li>
              <li>
                <a href="/rss">RSS</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="c-footer__info">
        <p class="s2">
          <span>© 2020. <a href="/blog">Zell Liew</a>. <a href="/terms">Terms</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
