<div class="c-modal-container jsModalContainer">
  <div class="l-wrap">
    <div class="c-modal jsModal jsLoader">
      <h3 class="c-modal__title jsModalTitle jsLoaderTitle">Hold on while i sign you up&hellip;</h3>

      <div class="c-modal__content c-post">
        <div class="c-loader">
          <div class="c-loader__spinner-container">
            <div class="c-loader__spinner o-spinner jsSpinner">
              <div class="o-spinner__item--pink"></div>
              <div class="o-spinner__item"></div>
              <div class="o-spinner__item"></div>
            </div>
            <div class="c-loader__success-icon jsSuccessIcon">🤗</div>
          </div>

          <div class="c-loader__messages jsLoaderMessages jsModalMessages">
            <div class="jsModalSuccessText">Woohoo! You&rsquo;re in!</div>
            <div>Now, hold on while I redirect you.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>