<header>
  <div class="l-wrap">
    <nav class="c-main-nav l-wrap__full">
      <div>
        <a class="c-main-nav__logo" href="/about">
          <div class="o-zell">{%- include "_svgs/zell.svg" -%}</div>
        </a>
      </div>
      {%- import '_macros/nav.njk' as nav -%}
      {{nav.main()}}
    </nav>
  </div>
</header>
