{%- markdown %}
Hi, I'm not done writing this article yet. I apologize for wasting your time coming to this page.

I linked to this page because I wanted to try a new way to speed up my writing process — where I create pages for topics I'd like to talk about in advance. This lets me create a page without worrying about updating links from posts I've published before.
{%- endmarkdown %}

<!-- If not subscribed -->
<div class="ck-unsubcribed-content o-content">
  {%- markdown %}
  If you wish to receive this article when I complete it, please fill up your email in the box below. I'll send you a message when I publish this article.

  I'd also send you my [newsletter](/newsletter) as you wait, so you will receive other articles that may be worth your time.
  {%- endmarkdown %}
</div>

<!-- If CK Subscriber -->
<div class="ck-subscriber-content" hidden>
  {%- markdown %}
  I'll send you a message when I publish this article.
  {%- endmarkdown %}
</div>
