@import "reset";
// ======================================
// # Convertkit Form styles
// ======================================

.c-ck {
  // border-top: vr(0.25) solid var(--theme-color);
  background-color: #f3f3f3;
  border: 1px solid #ddd;

  p + *,
  * + p {
    margin-top: 1em;
  }
}

// CK Form styles
.ck_form.ck_form.ck_form {
  background-color: transparent;
  .ck_powered_by {
    display: none;
  }
}

.ck_form.ck_form .ck_form_content {
  // Overwrite CK title to appear like h2
  h3 {
    color: color(mine);
    @include tp-text2;
    font-feature-settings: "liga" 1;
    margin-bottom: vr(0.75);
  }

  .ck_image {
    all: unset;
    display: block;

    > * {
      all: unset;
      margin-bottom: 1rem;
      @include mappy-bp(med) {
        float: left;
        margin-right: 2rem;
      }
    }
  }
}

.ck_subscribe_form.ck_subscribe_form.ck_subscribe_form {
  margin-top: vr(0.75);

  @supports (display: grid) and (not (display: ms-grid)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: vr(0.75);
  }

  @supports not (display: grid) {
    display: flex;
    flex-flow: row wrap;
    @include eq-flex-parent(vr(0.75), 2);

    > .ck_control_group {
      @include eq-flex-child(vr(0.75), 50%);
    }

    > button {
      flex-grow: 1;
      margin-top: vr(0.75);
    }
  }

  label {
    @include tp-sans2;
    display: block;
    margin-bottom: vr(0.175);
  }

  input {
    @include input;
    width: 100%;
    border-radius: 0;
  }

  button {
    @include secondary-button;
    justify-self: flex-start;
    grid-column: span 2;
  }

  .ck_guarantee {
    display: none;
  }

  .ck_link {
    margin-top: vr(-0.75);
  }
}

// === End Convertkit Form styles

// ======================================
// # Layouts for Convertkit form
// ======================================
.ck-layout {
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns:
    minmax(0, 50ch)
    minmax(0, 1fr);
  grid-template-columns: subgrid;
  grid-gap: inherit;

  margin: vr(2) 0 vr(0.75) -25vw;
  padding: vr(2.5) vr(3.5) vr(2.5) 25vw;

  @include mappy-bp(max large) {
    margin-right: vr(-0.75);
    padding-right: vr(0.75);
  }

  > * {
    grid-column-gap: 1;
  }
}

// TODO: Remove other instances of .l-ck--standard
@mixin l-ck--standard {
  margin: vr(2) 0 vr(2) -25vw;
  padding: vr(2.5) vr(3.5) vr(2.5) 25vw;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp(max large) {
    margin-right: vr(-0.75);
    padding-right: vr(1);
  }

  .ck_form {
    @include bp(large) {
      margin-left: vr(3.75);
    }
  }

  .ck_form_content p,
  .ck_subscribe_form {
    @include bp(med) {
      margin-right: vr(2.25);
    }
    @include bp(large) {
      margin-right: vr(6);
    }
  }
}

// CK Form in post and articles
// Extra specificity required to overwrite props
// when l-ck--standard is used directly in l-post__content
.l-ck--standard,
.l-post__content.l-post__content .l-ck--standard {
  @include l-ck--standard;
}

// === End Layouts for Convertkit form
