// Reset CK
// Reset 1 by 1 cos all property not supported in MS

// sass-lint:disable no-ids
// sass-lint:disable no-mergeable-selectors

.ck_form.ck_form {
    margin: 0;
    clear: inherit;
    border: inherit;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-shadow: inherit;
    overflow: visible;

  #ck_subscribe_form {
    clear: inherit; //
  }

  .ck_form_content.ck_form_content,
  .ck_form_fields.ck_form_fields {
    width: inherit;
    padding: 0;
    float: none;
    border: 0;
    font: inherit;
  }

  .ck_vertical,
  .ck_horizontal {
    background: inherit;
  }

  .ck_form_content {
    h3 {
      margin: inherit;
      padding: inherit;
      font-size: inherit;
    }

    p {
      font-size: inherit;
    }
  }

  .ck_label {
    font-size: inherit;
    font-weight: inherit;
  }

  input[type='text'],
  input[type='email'] {
    width: inherit;
    height: inherit;
    margin-bottom: inherit;
    padding: inherit;
    border: inherit;
    background-color: inherit;
    font-size: inherit;
  }

  input[type='text']:focus,
  input[type='email']:focus {
    border-color: inherit;
    outline: inherit;
  }

  .ck_checkbox {
    display: inherit;
    padding: 0;
    clear: inherit;
  }

  .ck_checkbox input.optIn {
    margin-top: 0;
    margin-left: 0;
  }

  .ck_opt_in_prompt {
    margin-left: 0;
  }

  .ck_subscribe_button {
    width: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: inherit;
    background: inherit;
    color: inherit;
    font-size: inherit;
    text-shadow: none;
  }

  .ck_guarantee {
    padding: 0;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
  }

  .ck_powered_by {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  .ck_converted_content {
    display: none;
    padding: 0;
    background: inherit;
  }
}

.ck_form.ck_form.ck_naked {
  margin: 0;
}