---
import { Heading, Markdown } from '@splendidlabz/astro'
---

<section class="section">
  <div class="wrap">
    <div class="vertical">
      <Heading class="gap-4 mb-2" center>
        <h1 class="max-w-[12em]">
          <Markdown>
            Somewhere along the way, your HTML stopped being readable
          </Markdown>
        </h1>
        <!-- <p class="h1-subhead max-w-[38rem]">
          <Markdown inline>
            If use Tailwind the way everyone explains it, you might as well go
            back to plain ol' CSS.
          </Markdown>
        </p> -->
      </Heading>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          You picked up Tailwind to build faster, and it delivered. Your first workable demo, up in minutes. You felt it.

          Then you came back to refactor --- and found that many elements were buried under 17 utility classes. You couldn't see the structure of the page anymore. You had to rebuild it in your head just to change one thing.

          - Coding became mentally exhausting, not fun 
          - Your HTML became a horrible bloated mess
          
          Then you wonder what you were thinking of when you picked Tailwind up. 

          "*This doesn't work*", you whisper to yourself. 

          You miss just writing CSS --- it's a different kind pain, but better than *this*. But going back feels like a step backward. So you keep stacking utilities, telling yourself that's just how Tailwind works. 

          And your frustration builds, week after week.
        </Markdown>
      </div>

      <div class="prose-responsive max-w-[28rem] mx-auto mb-2 text-center">
        <!-- prettier-ignore -->
        <Markdown>
          > If you use Tailwind the way it's commonly explained, you might as well just stick with CSS.
          </Markdown>
      </div>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Tailwind was never the problem. 

          The real problem is that you were led to believe you had to choose either Tailwind or CSS. 
        </Markdown>

        <a
          href="#pricing"
          class="button button-large pigment-orange-filled self-center"
        >
          <Markdown inline>Get Unorthodox Tailwind</Markdown>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section section-cont">
  <div class="wrap">
    <div class="vertical">
      <Heading class="gap-4 mb-2" center>
        <h1 class="max-w-[12em]">
          <Markdown>
            You don't have to choose between Tailwind and CSS
          </Markdown>
        </h1>
        <p class="h1-subhead max-w-[38rem]">
          <Markdown inline>
            You can use them both --- and get the prototyping speed and the
            clean HTML at the same time
          </Markdown>
        </p>
      </Heading>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Tailwind isn't a CSS replacement. It's three things built into one --- a design system, a styling system, and a build system. 

          Once you see that, the rules change.
</Markdown>
      </div>

      <div class="grid-simple max-w-mid my-2 [--cols:3] mx-auto">
        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">A Design System</div>
          </header>
          <div class="prose flex-grow gap-3">
            A way to write design tokens that you can build on.
          </div>
        </div>

        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">A Styling System</div>
          </header>
          <div class="prose flex-grow gap-3">
            <Markdown>
              Use utilities in HTML or through `@apply` in CSS.
            </Markdown>
          </div>
        </div>

        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">A Build System</div>
          </header>
          <div class="prose flex-grow gap-3">
            <Markdown> Simplify code and your build process </Markdown>
          </div>
        </div>
      </div>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>

          CSS enters the game again. Now you can: 

          - Write utilities in HTML when that's faster
          - Switch to `@apply` in CSS when that's cleaner
          - And build components when it makes sense
      
          But this is just the beginning. 

          CSS can be grouped into 4 major categories. The rules for using Tailwind effectively changes in each of these categories. When you know the rules, building sites become even simpler. 

          **Picture your next project, where**: 
          
          - HTML reads like a layout instead of a wall of classes. 
          - Theming become a simple matter of writing CSS Variables, not utility-littered variants.
          - Using multiple typefaces become a cinch 
          - You can add beautiful effects with a drop of a utility. 

          Then building feels good again --- quick, intuitive, easy to adjust. Less fighting the framework, more making the thing.

          That future is possible today. 
        </Markdown>

        <a
          href="#pricing"
          class="button button-large pigment-orange-filled self-center"
        >
          <Markdown inline>Get Unorthodox Tailwind</Markdown>
        </a>
      </div>
    </div>
  </div>
</section>
