---
import { Heading, Markdown } from '@splendidlabz/astro'
---

<section class="section">
  <div class="wrap">
    <div class="vertical">
      <Heading class="gap-4 mb-2" center>
        <h1 class="max-w-[12em]">
          <Markdown>
            Somewhere along the way, your HTML stopped being readable
          </Markdown>
        </h1>
        <!-- <p class="h1-subhead max-w-[38rem]">
          <Markdown inline>
            If use Tailwind the way everyone explains it, you might as well go
            back to plain ol' CSS.
          </Markdown>
        </p> -->
      </Heading>

      <div class="prose-responsive max-w-narrow mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          You picked up Tailwind to build faster, and it delivered. Your first workable demo, up in minutes. You felt it.

          Then you came back to refactor --- and found many elements packed with 17 utility classes. You couldn't see the structure of the page anymore. You had to rebuild it in your head just to change one thing.

          - Coding became mentally exhausting, not fun 
          - Your HTML became a horrible bloated mess
          
          Then you wonder what you were thinking of when you picked Tailwind up. 

          "*This doesn't work*", you whisper to yourself. 

          You miss just writing CSS --- it's a different kind pain, but better than *this*. But going back feels like a step backward. So you keep stacking utilities, telling yourself that's just how Tailwind works. 

          And your frustration builds, week after week.
        </Markdown>
      </div>

      <div class="prose-responsive max-w-[28rem] mx-auto mb-2 text-center">
        <!-- prettier-ignore -->
        <Markdown>
          > If you use Tailwind the way it's commonly explained, you might as well just stick with CSS.
          </Markdown>
      </div>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Tailwind was never the problem. 

          The real problem is that you were led to believe you had to choose either Tailwind or CSS. 
        </Markdown>
      </div>
    </div>
  </div>
</section>

<section class="section section-cont">
  <div class="wrap">
    <div class="vertical">
      <Heading class="gap-4 mb-2" center>
        <h1 class="max-w-[12em]">
          <Markdown>
            You don't have to choose between Tailwind and CSS
          </Markdown>
        </h1>
        <p class="h1-subhead max-w-[38rem]">
          <Markdown inline>
            You can use them both --- and get the prototyping speed and the
            clean HTML at the same time
          </Markdown>
        </p>
      </Heading>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->
        <Markdown>
          Tailwind isn't a CSS replacement. It's three things built into one: 

          - **A Design layer**: A way to write design tokens that you can build on
          - **A Styling layer**: Use utilities in HTML or through `@apply` in CSS
          - **A Build layer**: Simplifies your code and build process

          Once you see that, the rules change --- and CSS enters the game again, because you can write utilities in HTML when that's faster, switch to `@apply` in CSS when that's cleaner, and build components when it makes sense.

          **And this is just the beginning**. 

          When you see Tailwind as three layers, a door opens: Everything you build can now be sorted into four categories. 
          
          The rules for using Tailwind changes in each of these categories. Master the rules in each category and Tailwind supports everything you do. 
</Markdown>


      </div>

      <div class="grid-simple max-w-mid my-2 bp8:[--cols:2] mx-auto">
        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">The Layouts System</div>
          </header>
          <div class="prose flex-grow gap-3">
            <Markdown>Build layouts in seconds, and have HTML read like layout instead of a wall of classes. </Markdown>
          </div>
        </div>

        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">The Typography System</div>
          </header>
          <div class="prose flex-grow gap-3">
            <Markdown>Responsive typography with multiple typefaces become a cinch.</Markdown>
          </div>
        </div>

        <div
          class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
        >
          <header>
            <div class="h4 text-zorange-500">The Theming System</div>
          </header>
          <div class="prose flex-grow gap-3">
            <Markdown>Theming become a simple matter of writing CSS Variables, not utility-littered variants.</Markdown>
          </div>
        </div>
        <div
        class="card vertical gap-2 !bg-zpurple-1100 [--border-color:var(--color-zgray-750)]"
      >
        <header>
          <div class="h4 text-zorange-500">The Effects System</div>
        </header>
        <div class="prose flex-grow gap-3">
          <Markdown>You can add beautiful effects with a drop of a utility</Markdown>
        </div>
      </div>
      </div>

      <div class="prose-responsive max-w-[37rem] mx-auto">
        <!-- prettier-ignore -->       
        <Markdown>

          Building feels good again --- quick, intuitive, easy to adjust. Less fighting the framework, more making the thing.

          That future is possible today. 
        </Markdown>
      </div>

      <a
        href="#product"
        class="button button-large pigment-orange-filled self-center"
      >
        <Markdown inline>Get Unorthodox Tailwind</Markdown>
      </a>
    </div>
  </div>
</section>
