{# See https://app.convertkit.com/forms for conversion rates #}
{# Visit https://app.convertkit.com/landing_pages/{{FORM_NUMBER}}/edit to edit form #}
{%- set newsletters = {
  'ayw': 2439,
  'better-fed': 212048,
  'build-calculator': 361296,
  'default-honesty': 174404,
  'fed-wed': 214866,
  'homepage-2': 465868,
  'jsr': 275679,
  'learnjs': 282474,
  'mrt-simplicity': 177782,
  'rt-system': 60354,
  'susy': 987,
  CUCrud: 466666,
  BYDB: 466715,
  jsSnippets: 466744,
  thinkLikeDev: 467127
} -%}

{# Notes to self #}
{# Currently testing Homepage-2 vs Home-start #}
{% if newsletters[newsletter] -%}
  <script defer id="_ck_{{newsletters[newsletter]}}" src="https://forms.convertkit.com/{{newsletters[newsletter]}}?v=6"></script>
{%- else -%}
  NOTE! No newsletter found!
{%- endif -%}
