@use 'config/typography' as *;
@use 'simplex/shapes';
@use 'simplex/text';
@use 'config/borders' as *;

.post header {
  margin-top: ru(6);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;

  > * {
    grid-column: 1;
    grid-row: 1;
  }

  h1 {
    margin-top: 0;
  }

  // > div:nth-child(2) {
  //   border: 2px solid var(--yellow-600);
  //   padding: ru(2);
  //   border-radius: $border-radius;
  //   background-color: var(--yellow-900);
  //   margin-left: ru(-2);
  //   box-shadow: ru(-0.25) ru(0.375) 0 ru(0.25) rgba(0, 0, 0, 0.75);
  // }

  // TODO: Ask HuiJing about how to handle kite for responsive... exceeding...
  // Simply body overflow hidden?
  .kite {
    position: relative;
    z-index: -1;
    left: ru(18) * -0.5;
    top: ru(-1);
    @include shapes.kite-skewed(ru(18));
  }
}

.post .meta {
  @extend %small-caps;
  margin-top: ru(1);
  letter-spacing: 0.025em;

  date {
    color: var(--grey-400);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    // ========================
    // Separates tags with a tiny space
    // Idea solution: .tags { column-gap: 0.25em }
    // Using this solution because `gap` for flexbox cannot be properly detected
    // ========================
    span,
    li:not(:last-child)::after {
      margin-right: 0.25em;
    }

    ul {
      display: contents;
      text-transform: lowercase;

      @supports not (display: contents) {
        display: inherit;
        flex-flow: inherit;
        gap: inherit;
      }
    }

    li:not(:last-child)::after {
      content: ',';
      margin-left: -0.2em;
    }
  }
}
