---
layout: _layout/page
title: Leave a testimonial for JavaScript Roadmap
newsletter: ''
footer: blank
blockRobots: true
---

{% markdown %}
# Can I feature you for JavaScript Roadmap?

Did you have a great experience with JavaScript Roadmap? I'd love to feature you if you did! **I want to hear about your experience**. It means a lot to me.

Please write as much (or as little) as you want. No need to edit the testimonial. I can help you with the edits.
{% endmarkdown %}

{%- form {
  redirect: '/testimonials/thanks',
  spreadsheet: '1K7vJZ6Tj43-7Clky0-UVWXdesMCMYYFtluOOf9WCS9Q',
  subject: 'Testimonial for JavaScript Roadmap',
  initialMessage: "Thanks so much for leaving a testimonial! I'm glad you had a great experience with JavaScript Roadmap. Please let me have a few days to edit this testimonial before I get back to you :) <br><br> One more thing. **Do you have a picture I can use for your testimonial?** I'd need one that's at least 600x600. I can crop it if you send a super hi-res version over. Thank you!",
  finalMessage: "That's it! :)"
} -%}

  {%- formHidden {
    name: 'product',
    value: 'JavaScript Roadmap'
  } -%}

  {%- formTextarea {
    name: 'obstacles',
    label: "What obstacles might have prevented you from joining in JavaScript Roadmap?",
    helpText: "Did you have any initial hesitations?",
    required: true
  } -%}

  {%- formTextarea {
    name: 'found',
    label: "What did you find as a result of going through JavaScript Roadmap?",
    helpText: "How have the resources helped you?",
    required: true
  } -%}

  {%- formTextarea {
    name: 'like-most',
    label: "What did you like most about JavaScript Roadmap?",
    helpText: "If you had to pick only one thing, what would it be?",
    required: true
  } -%}

  {%- formTextarea {
    name: 'results',
    label: "What results have you seen since applying what you've learned?",
    helpText: "Built something, knowledge, clarity, confidence, time saved, etc.?",
    required: true
  } -%}

  {%- formTextarea {
    name: 'recommend',
    label: "Would you recommend JavaScript Roadmap?",
    helpText: "If yes, what would you say to someone on the fence?",
    required: true
  } -%}

  {%- formTextarea {
    name: 'add',
    label: "Is there anything else you'd like to add?",
    helpText: "Any feedback for JavaScript Roadmap? Anything you want to bring my attention to?"
  } -%}

  {%- formHidden {
    name: 'ps',
    value: "P.S. Don't forget the picture 😉"
  } -%}

{% endform %}
