// Primary Button
// --------------
@mixin button {
  display: inline-block;
  position: relative;
  // Text in button feels slightly low. Bumping padding bottom to centralize them
  padding: 0.75em 1.5em 0.85em;
  transition: background-color 0.15s ease-in-out;
  border: 0;
  // Safari inline block has a whitespace bug that causes. nowrap fixes it
  // white-space: nowrap;
  @include remove-link-underline;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    @include remove-link-underline;
  }
}

.button {
  @include button;
}

// Secondary button
// --------------
// Convertkit signup form uses secondary button
// Need mixin to overwrite default styles
@mixin secondary-button {
  @include button;
  background-color: color(malachite);
  color: color(w);

  &:hover,
  &:active,
  &:focus {
    @include remove-link-underline;
    background-color: color(geebung);
    color: color(w);
  }
}

.button[data-type='secondary'] {
  @include secondary-button;
}

// Ghost button
// --------------
.button[data-type='outline'] {
  display: block;
  font-size: inherit;
  padding: 0.75rem 1rem;
  border: 2px solid #929191;
  border-radius: vr(0.5);
  background-color: #fafafa;
  color: #333;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  @include remove-link-underline;

  &:hover,
  &:focus,
  &:active {
    @include remove-link-underline;
    border-color: color(radred);
    color: color(radred);
  }
}

.button[data-type='green'] {
  display: block;
  padding: 0.75rem 1rem;
  border: 2px solid #21d348;
  border-radius: vr(0.5);
  background-color: #c5fece;
  color: #094416;
  @include remove-link-underline;

  &:hover,
  &:focus,
  &:active {
    @include remove-link-underline;
    background-color: #b0f3bb;
    color: #094416;
  }
}
