.o-featured {
  margin-top: vr(3);
  padding-left: vr(0.75);
  border-left: 3px solid #999;
  color: color(aluminium);
}

// Had to overwrite .c-word > figure
.o-featured.o-featured + * { margin-top: vr(3); }
.o-featured__seen { line-height: 1; }