$link-background: #b3d8fd;

@mixin o-link {
  background-position: 0 91%;
  text-decoration: none;
}

@mixin o-link--primary {
  color: color(neonblue);
  @include o-link;
  @include link-underline(color(w), color(neonblue));
  @include link-shadow(color(w));

  &:hover,
  &:active,
  &:focus {
    color: color(geebung);
    @include link-underline(color(w), color(geebung));
  }

  &::selection {
    background-color: $link-background;
    @include link-shadow($link-background);
  }
}

.o-link--primary {
  @include o-link--primary;
}

.o-link--secondary {
  color: color(monsoon);
  @include o-link;
  @include link-underline(color(w), color(monsoon));
  @include link-shadow(color(w));

  &:hover,
  &:active,
  &:focus {
    color: color(geebung);
    @include link-underline(color(w), color(geebung));
  }

  &::selection {
    background-color: $link-background;
    @include link-shadow($link-background);
  }
}
