$item-width: 0.8rem;

.Loader {
  position: relative;
  display: grid;
  place-items: center;
  > * {
    grid-row: 1;
    grid-column: 1/-1;
  }
}

.Loader .loadingTitle {
  font-size: ms(3);
  text-align: center;
  margin-bottom: vr(0.75);
}

.Loader .spinnerContainer {
  position: relative;
  height: $item-width * 5;
  width: $item-width * 5;
  margin: auto;
}

.Loader > .successMessage,
.Loader > .errorMessage {
  @include tp-condensed;
  color: color(monsoon);
  text-align: center;

  > * {
    opacity: 0;
  }
}

.Loader .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $item-width * 5;
  font-size: ms(6);
  line-height: 1;
  text-align: center;
}

// spinner
.o-spinner {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: $item-width * 5;
  height: $item-width * 5;

  > :nth-child(2) {
    align-self: center;
  }
  > :nth-child(3) {
    align-self: flex-end;
  }
}

[class*='o-spinner__item'] {
  width: $item-width;
  height: $item-width;
  background-color: color(mine);
}

.o-spinner__item--pink {
  background-color: var(--theme-color);
}
