@mixin o-words {
  * + h2 { margin-top: vr(1.5); }
  * + h3 { margin-top: vr(1.5); }
  h3 + p { margin-top: vr(0.25); }

  // lists
  ul li { list-style-type: disc }
  ol li { list-style-type: decimal; }
  li + li { margin-top: vr(0.125) }

  li {
    margin-left: 2.5rem;
    list-style-position: outside;
    font-feature-settings: 'liga' 1, 'lnum' 1;
  }

  // image
  figure > img {
    border: 1px solid #ccc;
  }

  hr {
    margin-top: vr(1);
    margin-bottom: vr(1);
  }

  // links
  a {
    @include o-link--primary;
  }

  // Customize link underline position since h2 has bigger text
  h2 > a {
    background-position: 0 95%;
    background-size: 1px 1px;

    &:hover,
    &:active,
    &:focus {
      background-size: 1px 1px;
    }
  }
}

.o-words {
  @include o-words;
}

.o-words--nosc {
  @include o-words;
}
