@mixin o-zell {
  > svg {
    display: block;
    width: vr(4);
    height: auto;
  }

  .e,
  .l1,
  .l2 {
    transform: translateX(-0.5em);
    transition: transform 0.15s ease-in-out,
                opacity   0.15s ease-in-out;
    opacity: 0;
  }

  .l1 { transition-delay: 0.075s }
  .l2 { transition-delay: 0.125s }

  @at-root {
    .c-main-nav__logo:hover &,
    .c-main-nav__logo:focus &,
    .c-main-nav__logo:active & {
      .e,
      .l1,
      .l2 {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .o-zell__bar { fill: var(--theme-color); }
  .o-zell__text { fill: color(mine); }
}

.o-zell {
  @include o-zell;
}

.o-zell--white {
  @include o-zell;
  .o-zell__bar { fill: rgba(color(w), 1) }
  .o-zell__text { fill: rgba(color(w), 0.8) }
}