.about-layout {
  margin-top: vr(1);

  @include mappy-bp(750px) {
    margin-left: vr(0.75);
  }

  @include mappy-bp(large) {
    margin-left: vr(1.5);
  }

  > *:not(section) {
    max-width: vr(20);
  }

  .about__headshot {
    max-width: vr(8);
  }
}

.about__featured {
  margin-top: vr(1.5);
  padding-left: vr(0.75);
  border-left: 3px solid #999;
  color: color(aluminium);
}
