.l-footer__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.c-footer {
  margin-top: vr(3);
  padding-top: vr(1);
  padding-bottom: vr(1);
  border-top: vr(0.25) solid var(--theme-color);
  background-color: color(alabaster);
}

.c-footer__nav {
  margin-top: vr(0.75);
}

.c-footer__info {
  @include tp-sans2;
  margin-bottom: vr(0.25);
  color: color(aluminium);
  text-align: right;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.c-footer--blank {
  border-top: 0;
  background-color: transparent;
  margin-top: vr(2);
}

.c-footer__nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: vr(0.75);

  li {
    line-height: 1.2;
  }

  // Nav headers
  li > span {
    display: inline-block;
    @include tp-sans2;
    font-weight: 600;
    color: #333;
    margin-bottom: vr(0.25);
  }

  // Separator betwene header and content
  span + ol {
    margin-top: vr(0.25);
  }

  li li a {
    @include tp-sans2;
    font-weight: 400;
  }
}
