// ======================================
// # Form item styles and mods
// ======================================
.Form > astro-slot > * {
  margin-top: vr(0.75);
}

.FormItem {
  label,
  .label {
    display: block;
  }

  .label {
    @include tp-condensed1;
  }

  * + * {
    margin-top: vr(0.25);
  }
}

.FormItem + .FormItem {
  margin-top: vr(0.75);
}

// Radio buttons
.c-form__item--radios {
  label {
    display: flex;
    align-items: flex-start;
    margin-top: vr(0.5);
    margin-left: vr(0.75);
  }

  label + label {
    margin-top: vr(0.25);
  }

  [type='radio'] {
    flex-shrink: 0;
  }
}

// Help text
.c-form__help-text {
  margin-top: vr(0.125);
  @include tp-sans2;

  + * {
    margin-top: vr(0.25);
  }
}

.c-form__item.c-form__hidden-item {
  margin-top: 0;
}
// === End Form item styles and mods
