.c-home {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - #{vr(0.25)});
  padding-top: vr(12);
  background-image: linear-gradient(
      to right,
      rgba(#000, 0.5),
      rgba(#000, 0) 75%,
      rgba(#000, 0.25)
    ),
    url("/images/home/hero-med.jpg");
  background-repeat: no-repeat;
  background-position: 75% top;
  background-size: cover;

  // Different resolutions for hero image
  @include bp(med) {
    background-image: linear-gradient(
        to right,
        rgba(#000, 0.5),
        rgba(#000, 0) 75%,
        rgba(#000, 0.25)
      ),
      url("/images/home/hero.jpg");
  }

  // Changing padding top
  @include bp(med orientation portrait) {
    padding-top: 28vh;
  }
  @include bp(large) {
    padding-top: 15vh;
  }
  @include bp(mega) {
    padding-top: 20vh;
  }
}

.c-home__content {
  padding: vr(1.5) vr(1);
  border-top: vr(0.25) solid color(radred);
  background: color(w);

  > * + * {
    margin-top: vr(0.75);
  }

  @include bp(med orientation portrait) {
    width: 70vw;
    max-width: vr(25);
    margin-left: 7.5vw;
    padding: vr(2) vr(2.5);
  }

  @include bp(large) {
    width: 50vw;
    max-width: vr(25);
    margin-left: 7.5vw;
    padding: vr(2) vr(2.5);
  }

  @include bp(mega) {
    margin-left: 12.5vw;
  }
}

.home-page main {
  margin-top: 0;
}

.ck-layout--home {
  max-width: vr(17);
  background: transparent;
  border: 0;
}

.home-page .c-footer {
  margin-top: 0;
}

.home-social {
  background-color: #f6f6f6;
}

.home-social__content {
  grid-column: 1 / -1;
  max-width: 50rem;
  margin: auto;
  padding: 3rem 0;

  h2 {
    @include mappy-bp(med) {
      text-align: center;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(8rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    margin-top: 2rem;

    @include mappy-bp(med) {
      grid-template-columns: repeat(4, auto);
      align-content: center;
      justify-items: center;
      align-items: center;
    }

    @include mappy-bp(wide) {
      grid-column-gap: 4rem;
      grid-gap: 2rem;
    }

    li {
      opacity: 0.8;
    }
  }
}

.home-testimonials {
  grid-column: 1 / -1;
  max-width: 50rem;
  margin: auto;
  padding: 3rem 0;

  h2 {
    @include mappy-bp(med) {
      text-align: center;
    }
  }

  ul {
    margin-top: 2rem;
  }

  li {
    max-width: 30rem;
    margin: auto;
    margin-top: 1rem;
  }

  > p {
    margin-top: 1rem;
  }

  @include mappy-bp(med) {
    --image-size: 9.5rem;

    li {
      margin-top: 2rem;
      max-width: 32rem;
    }

    blockquote {
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      min-height: var(--image-size);
      padding: 0;
      border: 0;
    }

    blockquote img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: var(--image-size);
      // border-radius: 2rem;
      border-radius: 0;
      border-width: 2px;
    }

    blockquote p,
    blockquote cite span {
      margin-left: calc(var(--image-size) + 2rem);
    }

    blockquote p {
      font-size: calc(1rem * 1.2);
      line-height: 1.35;
    }

    blockquote cite span {
      margin-top: 0.125rem;
    }

    // Read the blog button
    > p {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      > a {
        margin-left: calc(var(--image-size) + 2rem);
      }
    }
  }
}
