.ModalContainer {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.75);
  padding: vr(1);
}

.Modal {
  position: relative;
  background-color: color(w);
  box-shadow: 0 0 0 4px var(--theme-color), 0 15px 30px 0 rgba(#000, 0.35);
  padding: vr(1);

  @media (min-width: 600px) {
    padding: vr(2);
  }
}

.Modalcontent {
  overflow: hidden;
  display: grid;
  place-items: center;
}

.Modalcontent > button {
  position: absolute;
  top: vr(-0.25);
  right: vr(-0.25);
  padding: vr(0.25);
  line-height: 0;
  background-color: white;
  box-shadow: 0 0 0 4px var(--theme-color), 0 15px 30px 0 rgba(#000, 0.35);
  border: 0;
}
