.ModalContainer {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.75);
}

.Modal {
  position: relative;
  background-color: color(w);
  box-shadow: 0 0 0 4px var(--theme-color), 0 15px 30px 0 rgba(#000, 0.35);
  overflow: hidden;
  padding: vr(2);
}

.ModalContent {
  overflow: hidden;
  display: grid;
  place-items: auto;
}
