.rf-post {
  display: grid;
  grid-template-columns: vr(2.5) 50ch 16ch;
  grid-column-gap: vr(0.75);

  h1 {
    grid-column: 1 / -1;
    @include bp(large) {
      margin-right: vr(3);
    }

    @include bp(mega) {
      margin-right: 0;
    }
  }

  // First child is post date.
  // Date is on column 1
  .rf-post__date {
    grid-column: 1;
    @include tp-condensed2;
    @include bp(large) {
      margin-top: 2em;
      text-align: right;
    }
  }

  // Second child onwards, align to column two.
  > * {
    grid-column: 2;
  }

  // For figcaptions
  > figure {
    position: relative;

    figcaption {
      margin-top: vr(0.375);
      padding-left: vr(0.25);
      border-left: 3px solid #ccc;
    }
  }
}

// .rf-post__content {
//   display: grid;
//   grid-template-columns: vr(2.5) 50ch;
//   grid-template-columns: subgrid;
//   grid-column-gap: inherit;

// }

// First paragraph in article
article.rf-post > p:first-of-type {
  @include tp-sans1;

  > code {
    font-size: 0.6em;
  }

  // TODO: Check for articles that contain videos.
  // iframe + p:first-of-type {
  //   margin-top: vr(0.75);
  // }
}

// .l-post__content {
//   @include l-article__text;
//   margin-top: vr(1.25);
//   @include bp(mega) {
//     margin-top: vr(2);
//   }

//   > .l-post__date {
//     @include bp(large) {
//       width: vr(2.5);
//       margin-top: 0.8em;
//       margin-left: vr(0.75);
//       float: left;
//       text-align: right;
//     }
//   }
// }
