.rf-post {
  @include mappy-bp(med) {
    display: grid;
    grid-template-columns:
      vr(2.5)
      minmax(0, 50ch)
      minmax(0, 1fr);
    grid-column-gap: vr(0.75);
  }

  h1 {
    grid-column: 1 / -1;
  }

  // First child is post date.
  // Date is on column 1
  .rf-post__date {
    grid-column: 1;
    text-align: right;
    @include tp-condensed2;
    @include bp(med) {
      margin-top: 2em;
    }
  }

  // Second child onwards, align to column two.
  > * {
    grid-column: 2;
  }

  // For figcaptions
  > figure {
    position: relative;

    figcaption {
      margin-top: vr(0.375);
      padding-left: vr(0.25);
      border-left: 3px solid #ccc;
    }
  }
}

// First paragraph in article
article.rf-post > p:first-of-type {
  @include tp-sans1;

  > code {
    font-size: 0.6em;
  }

  // TODO: Check for articles that contain videos.
  // iframe + p:first-of-type {
  //   margin-top: vr(0.75);
  // }
}

// TODO: Remove .l-post__content after refactoring blog layout
.l-post__content {
  @include l-article__text;
  margin-top: vr(1.25);
  @include bp(mega) {
    margin-top: vr(2);
  }

  > .l-post__date {
    @include bp(large) {
      width: vr(2.5);
      margin-top: 0.8em;
      margin-left: vr(0.75);
      float: left;
      text-align: right;
    }
  }
}
