.l-post__content {
  @include l-article__text;
  margin-top: vr(1.25);
  @include bp(mega) { margin-top: vr(2); }

  > .l-post__date {
    @include bp(large) {
      width: vr(2.5);
      margin-top: 0.8em;
      margin-left: vr(0.75);
      float: left;
      text-align: right;
    }
  }
}

.c-post__date {
  @include tp-condensed2;
}

.c-post__content {
  > p:first-of-type {
    @include l-content;
    @include tp-sans1;
    margin-top: 0;
    margin-right: 0;

    > code {
      font-size: 0.6em;
    }
  }

  iframe + p:first-of-type { margin-top: vr(0.75); }
}
