---
layout: _layout/page
title: Leave a CSS question
newsletter: ''
footer: blank
blockRobots: true
---


{% markdown %}
# Have questions about CSS?

I want to help you learn CSS confidently so you no long worry about responsive design, site architecture, or feel that CSS is illogical, but I need to know where you are to help you get there. Can you answer the following questions? I look forward to helping you with CSS :)
{% endmarkdown %}

{%- form {
  redirect: '/ok/filled-form',
  spreadsheet: '1e04jwEV6sfxj5S7s0Yrig9gwAmjRvWFMS3MIZHy7mVc',
  subject: 'Questions about CSS',
  initialMessage: "Thanks for your questions! **Please note:** Although I read every email, I don't have the capacity to respond to everyone.",
  finalMessage: "That's it! :)"
} -%}
  {%- formTextarea {
    name: 'questions',
    label: "What's your #1 struggle when it comes to CSS?",
    helpText: "Tell me about your experience CSSing something. What did you do? What challenges did you face? How did it go?",
    placeholder: "When I try to write CSS...",
    required: true
  } -%}

  {%- formTextarea {
    name: 'questions',
    label: "What questions do you have about CSS?",
    helpText: "List as many questions as you have. I'll try to answer all of them.",
    placeholder: "My questions are...",
    required: true
  } -%}

  {%- formTextarea {
    name: 'wand',
    label: "What will help you learn best?",
    helpText: "Video? Text? Real-world examples? Step by step instructions? What would help you out the most? Ask for anything; imagine you have a magic wand. Wave it; what will you get?",
    placeholder: "I always had XXX problems with building an app, so YYY will help me out."
  } -%}
{% endform %}
