---
layout: _layout/page
title: Thanks for letting me know
blockRobots: true
newsletter: ''
footer: blank
---

{%- markdown %}
# {{title}}

I'll inform you if I'm making this workshop. For now, please assume I'm not making it.
{%- endmarkdown %}
