---
layout: _layout/page
title: Thanks for filling up the form!
blockRobots: true
newsletter: ''
footer: 'blank'
---
<h1 class="l-article__header">Thanks for filling up the form!</h1>
<div class="l-article__text">
  {% markdown %}
  I got your questions and I'll look through them as soon as I can.

  You should also have received a copy of the form. Check your email. If you didn't get it, [please let me know](mailto:zell@zellwk.com).
  {% endmarkdown %}
</div>

