---
layout: _layout/page--shallow
title: Gotcha
blockRobots: true
newsletter: ''
footer: blank
---

<h1 class="l-article__header">Okie dokes</h1>
<div class="l-article__text">
  {% markdown %}
  I've sent some info into your mailbox. Check it! 👀.
  {% endmarkdown %}
</div>
