---
layout: _layout/page
title: Welcome to the livestream!
blockRobots: true
newsletter: ''
footer: blank
---

{% markdown %}
# {{title}}

I'll send you a link to the livestream closer to date.

Note: You don't need to click on Livestream links from this point onwards. I'll always let you know when we're going online (unless you choose to unsubscribe from the livestreams 😉).
{% endmarkdown %}
