---
layout: _layout/page--shallow
title: I hear ya. No more off-topic emails
blockRobots: true
newsletter: ''
footer: blank
---
{% markdown %}
# No more off-topic emails

I hear ya. No more off-topic emails.

I'll only send you things that are relevant to frontend, backend, and learning.
{% endmarkdown %}
