---
layout: _layout/page--shallow
title: I hear ya. No more off-topic emails
blockRobots: true
newsletter: ''
footer: blank
---

<h1 class="l-article__header">No more off-topic emails</h1>
<div class="l-article__text">
  {% markdown %}
  I hear ya. No more off-topic emails.

  I'll only send you things that are relevant to frontend, backend, and learning.
  {% endmarkdown %}
</div>
