---
layout: _layout/page--shallow
title: Gotcha
blockRobots: true
newsletter: ''
footer: blank
---

{% markdown %}
# Welcome back from neverland :)

I'll continue sending you emails as usual!
{% endmarkdown %}
