---
import SearchAndFilter from '@/components/SearchAndFilter.svelte'
import Base from '@/layouts/Base.astro'
import { Markdown, Partial, SVG } from '@splendidlabz/astro'
import { processFiles } from '@splendidlabz/astro/content'
import { getCollection } from 'astro:content'

const blog = await getCollection('blog')
const posts = processFiles(blog)
const data = posts.map(post => post.data)

const SEOProps = {
  title: 'Articles',
  description: 'A list of all the articles on the blog',
}
---

<Base {...SEOProps}>
  <div class="wrap">
    <section class="vertical max-w-narrow mx-auto">
      <div class="vertical">
        <h1>Articles</h1>
        <div class="prose">
          <Markdown>
            There are {posts.length} articles here — that's a lot to comb through
            so here's a `searchbox` and some `tags` to help you begin browsing! Enjoy!
          </Markdown>
        </div>

        <SearchAndFilter {posts} client:idle />
      </div>
    </section>
  </div>

  <div class="mt-section">
    <SVG class="rotate-180 simple-svg stroke-zred-500" icon="wriggle-line" />
  </div>

  <Partial path="JoinMyNewsletter" />
</Base>
