<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Document</title>
</head>
<body>
  <p>Hey {{name}},</p>

  {%- for entry in entries %}

    {%- if entry.name === 'initial-message' %}
      {%- markdown -%}
      {{ entry.answer }}

      For the record, here's what you filled in:
      <hr/>
      {%- endmarkdown -%}
    {%- endif %}

    {%- if entry.name === 'name'
      or entry.name === 'email'
      or entry.name === 'subject'
      or entry.name === 'initial-message'
      or entry.name === 'final-message'
      or entry.name === 'ps'
      or entry.name === 'product'
    %}
      {# Do nothing! #}
    {%- else %}
      {%- if entry.question %}
      {%- markdown %} **{{- entry.question -}}** {% endmarkdown %}
      {%- endif %}

      {%- markdown %}
      {{- entry.answer if entry.answer else '(Not filled in)' }}
      {%- endmarkdown %}
    {%- endif %}

    {%- if entry.name === 'final-message' %}
      {%- markdown %}
      <hr/>
      {{- entry.answer }}
      {%- endmarkdown %}
    {%- endif %}
  {%- endfor %}

  <p>Stay awesome, <br> Zell</p>

  {%- for entry in entries %}
    {%- if entry.name === 'ps' %}
      {%- markdown %}
      {{- entry.answer }}
      {%- endmarkdown %}
    {%- endif %}
  {%- endfor %}
</body>
</html>
