// # Wrapper
// ===============
.l-wrap {
  padding-right: vr(0.75);
  padding-left: vr(0.75);

  @include bp(med) {
    display: grid;
    grid-template-columns:
      1fr
      minmax(0, calc(#{vr(2.5)} + 66ch))
      2fr
      1fr;

    > * {
      grid-column: 2 / span 1;
    }
    > .l-wrap__full {
      grid-column: 2 / span 2;
    }
  }

  @include bp(large) {
    padding-right: vr(2);
    padding-left: vr(2);
  }

  @include bp(mega) {
    padding-right: 0;
    padding-left: 0;
  }
}
