// # Wrapper
// ===============
.l-wrap {
  padding-right: vr(0.75);
  padding-left: vr(0.75);

  @supports (display: grid) {
    @include bp(med) {
      display: grid;
      grid-template-columns:
      1fr
      minmax(auto, vr(32))
      2fr
      1fr;

      > * { grid-column: 2 / span 1; }
      > .l-wrap__full { grid-column: 2 / span 2; }
    }

    @include bp(large) {
      padding-right: vr(2);
      padding-left: vr(2);
    }

    @include bp(mega) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @supports not (display: grid) {
    @include bp(med) {
      max-width: vr(46);
      margin: auto;

      > * { max-width: vr(32) }
      > .l-wrap__full { max-width: 100% }
    }

    @include bp(large) {
      padding-right: vr(2);
      padding-left: vr(2);
    }

    @include bp(mega) { max-width: vr(56); }
  }
}

