<div>
  <!-- Square Display Ad -->
  <ins
    class='adsbygoogle'
    style='display:block'
    data-ad-client='ca-pub-5287671859285058'
    data-ad-slot='3156367173'
    data-ad-format='auto'
    data-adtest='on'
    data-full-width-responsive='true'></ins>

  <script async>
    ;(adsbygoogle = window.adsbygoogle || []).push({})
  </script>
</div>

<style>
  div {
    min-width: 300px;
    height: 250px;
    background-color: red;
  }

  /* ins + ins {
    margin-top: 1rem;
  } */
</style>
