---
import Basic from '/src/layouts/Basic.astro'
import { getEntryBySlug } from 'astro:content'

const { name } = Astro.params
const entry = await getEntryBySlug('freebies', `${name}/welcome`)
const { slug, render, data } = entry
const { Content } = await render()
---

<Basic>
  <h1>{data.title}</h1>

  <div class='o-words about-layout'>
    <Content />
  </div>
</Basic>
