// Typography Variables
// ===============

// Font families
// ---------------
$font-families: (
  display: ('freight-display-pro', serif),
  text: ('freight-text-pro', serif),
  condensed: ('freight-sans-condensed-pro', sans-serif),
  sans: ('freight-sans-pro', 'Helvetica Neue', sans-serif),
  code: ('Fira Mono', monospace)
);

// Font weights
// ---------------
$font-weights: (
  display: 500,
  text: (400, 500),
  sans: (400, 500, 600),
  condensed: (500, 600),
  code: (400)
);

// Sizes
// ---------------
$ms-ratio: 1.2;
$typi: (
  base: (
    null: (19px, 1.4),
    med: (20px, 1.4),
    large: 21px,
    wide: 22px,
    mega: 25px,
    ultra: 28px
  ),
  tsb: (
    null: ms(1),
  ),

  tsl1: (
    null: (ms(5), 1.15),
    large: ms(7),
    mega: ms(8)
  ),
  tsl2: (
    null: (ms(4), 1.15)
  ),
  tsl3: (
    null: (ms(1), 1.35),
    large: (ms(2), 1.35)
  ),
  tsl4: (
    null: (ms(1), 1.1)
  ),

  tss1: (
    null: (ms(-1), 1.15)
  ),
  tss2: (
    null: (ms(-1), 1.3)
  ),
  tss3: (
    null: (ms(-2), 1.4)
  ),
  tss4: (
    null: (ms(-2), 1.58)
  ),
);
