---
import Base from '/src/layouts/Base.astro'
import Freebie from '/src/components/Freebie.astro'
export const prerender = true
---

<Base>
  <div class='Wrap ContentBlock'>
    <div class='BasicGrid mOneColumn'>
      <h1>Freebies</h1>

      <!-- Todo: Some Content Here -->
      <p>We're happy to give you free chapters to our courses.</p>

      <p>
        Take your time to read through them. They'll help you clarify concepts
        you need to know about each topic — which will help you understand,
        know, and be able to build anything you want using the topics you're
        interested in.
      </p>
    </div>

    <div class='uInlineSize'>
      <div class='FloatingCard'>
        <Freebie name='learn-javascript' />
      </div>
    </div>
    <!-- 
    <div class='uInlineSize'>
      <div class='FloatingCard'>
        <Freebie name='async-js' />
      </div>
    </div> -->
  </div>
</Base>
