---
import Base from '/src/layouts/Base.astro'
import Freebie from '/src/components/Freebie.astro'

export const prerender = true
---

<Base>
  <div class='Wrap ContentBlock'>
    <div class='BasicGrid mOneColumn'>
      <h1>Freebies</h1>

      <!-- Todo: Some Content Here -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae
        sed debitis ea eveniet sit exercitationem, perspiciatis itaque,
        aspernatur illo mollitia architecto asperiores? Quasi, nihil odio non
        obcaecati accusamus enim.
      </p>
    </div>

    <div class='uInlineSize'>
      <div class='FloatingCard'>
        <Freebie name='learn-javascript' />
      </div>
    </div>
    <!-- 
    <div class='uInlineSize'>
      <div class='FloatingCard'>
        <Freebie name='async-js' />
      </div>
    </div> -->
  </div>
</Base>
