// Type patters
// ===============

// Display patterns
// ---------------
@mixin tp-display {
  @include typi('tsl1');
  @include ff('display');
  @include fw(display, 500);
}

// Text patterns
// ---------------
@mixin tp-text {
  @include ff('text');
  @include fw('text', 400);
}

@mixin tp-text--italic {
  @include ff('text');
  @include fw('text', 400);
  font-style: italic;
}

@mixin tp-text2 {
  @include typi('tsl2');
  @include ff('text');
  @include fw(text, 500);
}

// Sans patterns
// ---------------
@mixin tp-sans {
  @include ff('sans');
  @include fw('sans', 400);
}

@mixin tp-sans1 {
  @include typi('tsl3');
  @include fw('sans', 400);
}

@mixin tp-sans2 {
  color: color(monsoon);
  @include typi('tss2');
  @include fw('sans', 500);
}

// Condensed patterns
// ---------------
@mixin tp-condensed {
  @include ff('condensed');
}

@mixin tp-condensed--lnum {
  @include ff('condensed');
  font-feature-settings: 'liga' 1, 'smcp' 1, 'lnum' 1;
}

@mixin tp-condensed1 {
  color: var(--theme-color);
  @include typi('tsl4');
  @include ff('condensed');
  @include fw('condensed', 600);
  letter-spacing: 0.005em;
  font-feature-settings: 'liga' 1, 'smcp' 1;
}

@mixin tp-condensed2 {
  color: color(monsoon);
  @include typi('tss1');
  @include ff('condensed');
  @include fw('condensed', 500);
  text-transform: lowercase;
  font-feature-settings: 'liga' 1, 'smcp' 1;
}

// Code patterns
// ---------------
@mixin tp-code {
  display: inline-block;
  margin: 0 0.25em;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  background-color: color(alabaster);
  color: color(mine);
  @include typi('tss3');
  @include ff('code');
  @include fw('code', 400);
  font-feature-settings: 'liga' 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin tp-code--pre {
  display: block;
  @include typi('tss4');
  @include ff('code');
  @include fw('code', 400);
  margin: 0;
  padding: vr(0.5) vr(0.75);
  border: 0;
  background-color: transparent;
  color: color(gallery);
}