.uCenter {
  margin-inline: auto;
}

.uTextCenter {
  text-align: center;
}

.uInlineBlock {
  display: inline-block;
}

.uCenterChild {
  display: grid;
  place-items: center;
}

.uInlineSize {
  container-type: inline-size;
}

// Temporary utility to get rid of images in the Freebie component
.uBorderNone {
  img {
    border: 0 !important;
  }
}

// Few gotchas in Astro slot — you want to stop writing margin-left and margin-top because Astro randomly inserts style and script tags. Also need a way to handle Astro Slots ond Astro Islands...
.uBasicFlexGrid {
  display: flex;
  flex-flow: row wrap;

  > * + *,
  > * + :where(astro-slot, astro-island) > *:first-child {
    margin-right: 1rem;
  }
}
