.uCenter {
  margin-inline: auto;
}

.uTextCenter {
  text-align: center;
}

.uInlineBlock {
  display: inline-block;
}

.uCenterChild {
  display: grid;
  place-items: center;
}

.uInlineSize {
  container-type: inline-size;
}

// Temporary utility to get rid of images in the Freebie component
.uBorderNone {
  img {
    border: 0 !important;
  }
}
