// THEME BASE
// - Personal preference for starting websites/apps
// ===============

// Use border-box for everything
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Lobotomized owl
// ---------------
// Note to self: Don't use Lobotomozied like this.
// It's quite hard to control
// * + * {
//   margin-top: vr(0.75);
// }

div,
section,
span,
svg,
a,
li {
  margin-top: 0;
}

.cp_embed_wrapper {
  margin-top: vr(0.75);
}

// Responsive Images
// ---------------
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

// Table layouts
// ---------------
table {
  width: 100%;
  table-layout: fixed;
}

// Figure intrinsic sizing
// ---------------
figure {
  max-width: max-content;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  > img {
    display: block;
    height: auto;
  }
}

// Noscript
// ---------------
noscript {
  display: block;
  margin-top: vr(0.75);
  margin-bottom: vr(0.75);
}

.kaomoji {
  display: inline-block;
}
