{% macro youtube(hash) %}
  {%- if hash %}
    <div class="media">
      <iframe class="youtube" src="https://www.youtube.com/embed/{{hash}}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  {%- endif %}
{% endmacro %}
