{%- macro main() -%}
  <div class="main-nav jsNavContainer">
    <a href="https://learnjavascript.today" class="o-navlink">Learn JavaScript</a>
    <a href="/about" class="o-navlink">About</a>
    <a href="/blog" class="o-navlink">Articles</a>
    <a href="/contact" class="o-navlink">Contact</a>
    <a href="/newsletter" class="o-navlink">Newsletter</a>

    <button
    class="button c-main-nav__toggle jsOffsiteLauncher">Menu</button>
  </div>
{%- endmacro -%}

{%- macro offsite() -%}
  <nav class="c-offsite__nav">
    <a href="/about" class="o-navlink--offsite">About</a>
    <a href="/blog" class="o-navlink--offsite">Articles</a>
    <a href="/newsletter" class="o-navlink--offsite">Newsletter</a>
    <a href="/contact" class="o-navlink--offsite">Contact</a>
  </nav>
{%- endmacro -%}
