// Primary Button
// --------------
@mixin button {
  display: inline-block;
  position: relative;
  // Text in button feels slightly low. Bumping padding bottom to centralize them
  padding: 0.75em 1.5em 0.85em;
  transition: background-color 0.15s ease-in-out;
  border: 0;
  // Safari inline block has a whitespace bug that causes. nowrap fixes it
  // white-space: nowrap;
  @include tp-condensed;
  @include remove-link-underline;

  &:hover,
  &:active,
  &:focus {
    @include remove-link-underline;
  }
}

.button {
  @include button;
}

// Secondary button
// --------------
// Convertkit signup form uses secondary button
// Need mixin to overwrite default styles
@mixin secondary-button {
  @include button;
  background-color: color(malachite);
  color: color(w);

  &:hover,
  &:active,
  &:focus {
    @include remove-link-underline;
    background-color: color(geebung);
    color: color(w);
  }
}

.button[data-type="secondary"] {
  @include secondary-button;
}

// Ghost button
// --------------
.button[data-type="outline"] {
  display: block;
  font-size: inherit;
  padding: 0.75rem 1rem 0.85rem;
  border: 2px solid color(radred);
  background-color: transparent;
  color: color(radred);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  @include remove-link-underline;

  &:hover,
  &:focus,
  &:active {
    @include remove-link-underline;
    border-color: color(geebung);
  }
}
