.o-course {
  margin-top: vr(1.5);

  & + & { margin-top: vr(2.5); }
  > * + * { margin-top: vr(0.25); }
}

.o-course__img {
  margin-top: vr(0.375);
}

.o-course__desc {
  @include bp(large) {
    margin-right: vr(3.75);
  }
}