.o-words,
.o-content,
.o-words--nosc {
  // Default space between elements
  > * + * {
    margin-top: vr(0.75);
  }

  > :empty {
    margin-top: 0;
  }

  // Headings
  h2 {
    margin-top: vr(1.5);
  }

  h3 {
    margin-top: vr(1.5);
  }

  h3 + p {
    margin-top: vr(0.25);
  }

  // lists
  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  li + li {
    margin-top: vr(0.125);
  }

  li > ul,
  li > ol {
    margin-top: vr(0.125);
  }

  li {
    margin-left: 2.5rem;
    list-style-position: outside;
    font-feature-settings: "liga" 1, "lnum" 1;
  }

  // Images
  figure > img,
  figure > video {
    border: 1px solid #ccc;
  }

  hr {
    margin-top: vr(1);
    margin-bottom: vr(1);
  }

  // links
  a {
    @include o-link--primary;
  }

  // Customize link underline position since h2 has bigger text
  h2 > a {
    background-position: 0 95%;
    background-size: 1px 1px;

    &:hover,
    &:active,
    &:focus {
      background-size: 1px 1px;
    }
  }
}
