---
import { Partial, SVG } from '@splendidlabz/astro'
import { gatherTags, processFiles } from '@splendidlabz/astro/content'
import { pluralize } from '@splendidlabz/utils'
import { getCollection } from 'astro:content'
import Base from '/src/layouts/Base.astro'

const blog = await getCollection('blog')
const posts = await processFiles(blog)
const tags = gatherTags(posts)

// Group tags alphabetically
const groupedTags = tags.reduce((groups, tag) => {
  const firstLetter = tag.name[0].toLowerCase()
  if (!groups[firstLetter]) groups[firstLetter] = []
  groups[firstLetter].push(tag)
  return groups
}, {})

// Convert to sorted array format [[a tags], [b tags], ...]
const alphabeticalGroups = Object.entries(groupedTags).sort(([a], [b]) =>
  a.localeCompare(b),
)
---

<Base>
  <div class="wrap">
    <section class="vertical max-w-narrow mx-auto">
      <div class="vertical">
        <h1>Avaliable tags</h1>

        {
          alphabeticalGroups.map(group => {
            const [letter, grptags] = group
            return (
              <div>
                <h2 class="h3 text-zorange-500">{letter.toUpperCase()}</h2>
                <ul>
                  {grptags.map(tag => {
                    return (
                      <li>
                        <a
                          class="june [--font-style:60] "
                          href={`/tags/${tag.name}`}
                        >
                          #{tag.name.toLowerCase()}
                        </a>
                        <span class="text-zgray-500 text-7">
                          ({tag.items.length}{' '}
                          {pluralize('article', tag.items.length)})
                        </span>
                      </li>
                    )
                  })}
                </ul>
              </div>
            )
          })
        }
      </div>
    </section>
  </div>

  <div class="mt-section">
    <SVG class="rotate-180 simple-svg stroke-zred-500" icon="wriggle-line" />
  </div>

  <Partial path="JoinMyNewsletter" />
</Base>
