@use '../abstracts/' as *;

// TODO: We should probably center the text at small screen together with centering the logo...
.Freebie {
  max-width: rhythm(24);
  margin-inline: auto;

  .logo {
    text-align: center;
    svg {
      height: rhythm(3.5);
      width: auto;
    }
  }

  .assets .image {
    display: none;
  }

  // Title can be h1,h2,h3, etc and div
  // This simply styles the div version
  div.title {
    font-size: fontStep(9);
    line-height: 1.2;
    font-weight: bold;
  }

  .title {
    text-align: center;
  }

  .cta {
    font-size: fontStep(6);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-inline: -0.5rem;
    > * {
      margin: 0.5rem;
    }
  }
}

@mixin LargeSize {
  & {
    display: grid;
    grid-template-columns: rhythm(12) 1fr;
    align-items: center;
    grid-gap: rhythm(2.5);
    max-width: 100%;

    .assets > * + * {
      margin-top: rhythm(1);
    }

    .title {
      text-align: left;
    }

    .assets .image {
      display: block;
    }

    // Overwrite legacy styles from o-words
    .assets .image img {
      border: 0;
    }

    .content {
      max-width: rhythm(30);
    }

    .cta {
      justify-content: flex-start;
    }
  }
}

@container (inline-size > 700px) {
  .Freebie {
    @include LargeSize;
  }
}

// For use with Lead Modal because it uses justify-content
@media (width > 900px) {
  .Freebie.mMQ {
    @include LargeSize;
  }
}
