---
import Base from '@/layouts/Base.astro'
import { Partial } from '@splendidlabz/astro'
---

<Base>
  <div class="wrap">
    <Partial path="JoinMyNewsletter" testimonialCount={2} />
  </div>
</Base>
