// ======================================
// # Form item styles and mods
// ======================================
.c-form > * + * {
  margin-top: vr(0.75);
}

.c-form__item {
  & + & {
    margin-top: vr(0.75);
  }

  label {
    display: block;
  }
}

// TODO: Remove Eleventy shortcut.
// Change to Nunjuckts macro instead.
// Radio buttons
.c-form__item--radios {
  label {
    display: flex;
    align-items: flex-start;
    margin-top: vr(0.5);
    margin-left: vr(0.75);
  }

  label + label {
    margin-top: vr(0.25);
  }

  [type="radio"] {
    flex-shrink: 0;
  }
}

// Questions
.c-form__question {
  display: block;
  @include tp-condensed1;

  ~ input,
  ~ textarea {
    margin-top: vr(0.25);
  }
}

// Help text
.c-form__help-text {
  margin-top: vr(0.125);
  @include tp-sans2;

  + * {
    margin-top: vr(0.25);
  }
}

.c-form__item.c-form__hidden-item {
  margin-top: 0;
}
// === End Form item styles and mods
