.post-layout {
  @include generic-layout();

  // Post layout has a larger left column for dates
  @include mappy-bp(750px) {
    display: grid;
    grid-template-columns:
      vr(2.5)
      minmax(0, 45ch)
      1fr;
    grid-column-gap: vr(0.75);
  }

  // Date is on column 1
  .post-layout__date {
    display: block;
    @include tp-condensed2;
    margin-top: 1rem;

    @include bp(750px) {
      grid-column: 1;
      margin-top: 2em;
      text-align: right;
    }
  }

  > p:first-of-type {
    @include tp-sans1;

    > code {
      font-size: 0.6em;
    }
  }
}

.post-nav {
  margin-top: 1rem;

  > * + * {
    margin-top: 0.75rem;
  }

  [data-link-to="next-post"] {
    text-align: right;
  }

  svg {
    position: relative;
    top: 0.125em;
    font-size: 0.75rem;
  }

  svg + *,
  * + svg {
    margin-left: 0.125rem;
  }
}

.series-layout {
  margin-bottom: 1.5rem;
}
