---
import { Markdown } from '@splendidlabz/astro'
import { Icon } from '@splendidlabz/svelte'
import socialMediaAccounts from '../content/data/social-media-accounts'
const today = new Date()
const thisYear = today.getFullYear()
---

<footer class="overflox-hidden site-footer bg-zpurple-1100">
  <div class="horizontal">
    <div
      class="max-bp6:hidden june h1 text-zpurple-500 writing-rotate-left relative text-center -left-6"
      aria-hidden="true"
    >
      The Footer
    </div>

    <div class="py-[3rem]">
      <div class="wrap vertical w-full max-w-standard mx-auto">
        <nav
          class="grid-repeat-auto items-start [--cols:2] bp6:[--cols:3] bp9:[--cols:5] [--gap-x:4rem] gap-8"
        >
          <div class="vertical gap-y-2 bp6:gap-y-3">
            <h2 class="june text-zorange-500">General</h2>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/testimonials/">Testimonials</a>
            <a href="/tools/">Tools I Use</a>
          </div>
          <div class="vertical gap-y-2 bp6:gap-y-3">
            <h2 class="june text-zorange-500">Projects</h2>
            <a href="https://magicaldevschool.com/">Magical Dev School</a>
            <a href="https://splendidlabz.com/">Splendid Labz</a>
          </div>
          <div
            class="subgrid-columns gap-y-2 bp6:gap-y-3 [--span:2] bp9:[--span:2]"
          >
            <h2 class="june text-zorange-500 [--span:2] bp9:[--span:2]">
              Socials
            </h2>
            <div class="vertical gap-y-2 bp6:gap-y-3">
              {
                socialMediaAccounts.map(account => (
                  <a href={account.url}>
                    <Icon icon={`tabler:brand-${account.name}`} client:idle />
                    {account.name}
                  </a>
                ))
              }
            </div>
          </div>
          <div class="vertical gap-y-2 bp6:gap-y-3">
            <h2 class="june text-zorange-500">Follow Along</h2>
            <a href="/newsletter/">
              <Icon icon="tabler:mail" client:load />
              Email
            </a>
            <a href="/rss/">
              <Icon icon="tabler:rss" client:load />
              RSS
            </a>
          </div>
        </nav>

        <div
          class="copyright june [--font-style:80] text-zgray-500 mt-8 text-6"
        >
          <Markdown inline>
            <span>&copy; 2013 - {thisYear} </span>
            <a href="/">Zell Liew</a> / All rights reserved / 
            <a href="/terms/">Terms</a>
          </Markdown>
        </div>
      </div>
    </div>
  </div>
</footer>
