---
import { Image } from '@splendidlabz/astro'
import { toTitle } from '@splendidlabz/utils'
import { getEntry, render } from 'astro:content'

const { path } = Astro.props
const entry = await getEntry('testimonials', path)
const { data } = entry
const { Content } = await render(entry)

// Prepare variables for use in template
let { title, image, name } = data
if (!name) name = toTitle(path)
---

<blockquote class="stack mt-4">
  <div class="june text-[10.5rem] leading-[1] text-zred-700d relative -top-6">
    &ldquo;
  </div>
  <div class="pl-9.5">
    <div class="prose stinger-fit !text-8 text-zgray-400">
      <Content />
      <div class="horizontal items-center">
        <Image
          figureClass="max-w-6 "
          class="rounded-full"
          src={image}
          alt={name}
        />
        <div class="text-5 text-center june [--font-style:70]">
          <span class="text-zorange-500">{name}</span>
          <span class="text-zgray-500">— {title}</span>
        </div>
      </div>
    </div>
  </div>
</blockquote>
