@use 'config/typography' as *;

$size: ru(10) !default;

@mixin square($size, $background: var(--purple-800)) {
  display: block;
  width: $size;
  height: $size;
  background-color: $background;
}

@mixin kite($size) {
  @include square($size);
  width: $size * 2;
  clip-path: polygon(25% 0, 100% 50%, 25% 100%, 0 50%);
}

@mixin kite-skewed($size) {
  @include kite($size);
  clip-path: polygon(25% 0, 100% 100%, 25% 100%, 0 50%);
}
