---
layout: _layout/page
title: I'm looking for an assistant. Are you the one?
newsletter: ''
footer: blank
blockRobots: true
---
<h1 class="l-article__header">
  Thanks for stopping by. This application is closed now.
</h1>

{# <div class="l-article__text">
  {% markdown %}
  I'm looking for someone to be my personal assistant. This someone must be proactive and detail-oriented. They must also have excellent written and spoken communication skills.

  This is a remote position, so the person must be comfortable with minimal face-time.

  ## Summary of the position

  1. This is NOT an entry-level assistant position. You must have sufficient experience working as an virtual assistant for a business owner.
  3. You'll handle my business and personal details. This includes scheduling, customer service requests, uploading blog posts, ordering groceries, making personal appointments, etc.
  2. This is a part-time role, starting between 10-20 hours per month. Depending on how we work together, this could increase to more hours per month.
  4. It's also remote. You can work anywhere during Singapore business hours. We'll communicated via email, video calls, chat, etc.
  5. Expect to get requests from me in varying times of the day. Most tasks need to be completed within 2 days, but some tasks have to be done within the day.

  ## Tasks and responsibilities

  1. Assist with monitoring of my emails. Includes responding to emails to customers, business contacts and personal contacts
  2. Point person for research. Includes business and personal tasks.
  3. Handle personal details such as shopping, ordering gifts, scheduling appointments, and maintaining household items.
  4. Assist with monitoring of social media channels. Includes Twitter, Slack, etc.
  5. Expense tracking and monitoring, making sure all order details are handled in an orderly manner

  ## Required knowledge and skills

  1. Good knowledge about HTML and Git. Additional coding skills is a plus
  2. Experienced with Twitter, Convertkit, Slack, and other communication apps.
  3. Ability to learn quickly
  4. Ability to setup new systems and process in order to streamline business and personal functions

  ## Education and Experience

  1. Must have sufficient experience working as a virtual assistant for a business owner
  2. Ability to handle several emails and requests per day
  3. Exceptional ability to communicate progress on multiple projects
  4. Highly organized and efficient
  5. Trustworthy with strong personal integrity
  6. Forward-thinker who can proactively handle circumstances and situations to head off any crisis situations
  7. Experienced at managing calendars
  8. Must be reachable during the hours of 9AM - 6PM Singapore time and respond to messages within 2 hours.
  9. Top notch communication via email, phone and chat. Both internally and with customers
  10. Proven ability to prioritize tasks
  11. Perfectionist, super attention to detail
  12. Since this is a virtual position, must be a self-starter, self-motivated, and able to work independently with minimal oversight
  13. Must be comfortable developing and working in a virtual relationship, and having limited amount of face-time

  ## Application Form

  If you're interested in the position, please fill up the form below. If you know someone who may be interested, please send them [this link](/job/assistant). Thanks!
  {% endmarkdown %}

  {%- form {
    redirect: '/job/job-thanks',
    spreadsheet: '1p_D6uwxM0vRxrlkQE0tufLR6QREMEaFYmtAq0hE-plE',
    subject: 'Applying for assistant position',
    initialMessage: "Thanks for applying! I'll read through your application and reply back within 3 working days. If I don't reply, please send a gentle nudge.",
    finalMessage: "If I don't get back to you for some reason, please nudge me gently by replying to this email. I make it a point to answer all applications. Thanks! :)"
  } -%}

    {%- formTextarea {
      name: 'why',
      label: "Please tell me about yourself",
      helpText: "What's your professional background and your experience in support work?"
    } -%}

    {%- formTextarea {
      name: 'self',
      label: "How would your last boss describe your personality?",
      helpText: "What would they say is your strength and what is your weakness?"
    } -%}

    <h2>How would you handle these situations?</h2>

    {% markdown %}
      1. I messaged you to contact a vendor to check if it's possible to request for an upgrade of a purchase I made previously. If the answer is yes, I'll need a delivery of this item to my house. I also need to send the original item back. How will you set it up?
      2. A customer emailed to ask for a refund because the course was different from their expectations. For example, they bought Learn JavaScript assuming it was a video course. But when they logged in, they discovered it's mostly text. How would you respond?
      3. I love snowboarding. I want to plan for a snowboarding trip at the end of this year. How would you help me?

      Leave your answers in the textboxes below.
    {% endmarkdown %}

    {%- formTextarea {
      name: 'situational1',
      label: "Contacting a vendor"
    } -%}

    {%- formTextarea {
      name: 'situational2',
      label: "Response to customer asking for a refund"
    } -%}

    {%- formTextarea {
      name: 'situational3',
      label: "Helping to plan a snowboarding trip"
    } -%}

  {%- endform -%} #}
</div>








