---
layout: _layout/page
title: Looking for an Executive Assistant
newsletter: ''
footer: blank
blockRobots: true
---

{%- markdown %}

# {{title}}

Hi there! I’m Zell, and I’m hiring an executive assistant to help me with some work — so I can focus on creating content, learning, and growing the business.

## About the job

Your primary role is an executive assistant. You'll help me with tasks that I delegate to you. Tasks may include but not limited to the following:

- Basic Customer support
- Basic administrative tasks — such as filing, accounting, and fixing typos

This is a part-time role. We're expecting around 5 hours per week. You can choose your working hours.

Training will be provided so no prior experience necessary.

## About the company

We're a small company dedicated to helping people become better developers. We primarily make money from selling courses that teach people how to code. You probably know about what I do if you [read my blog](/blog) 😉.

## Type of person I'm looking for

The person I'm looking for possess the following qualities:

- You're responsible and on time.
- You can work without supervision
- You are meticulous and detail-oriented
- You have good written and spoken English
- You have a passion for coding
- You know how to use Git on a basic level — you can clone, commit, push, pull, and merge code

## Logistic requirements

These are pretty basic and simple:

- You need to have a good internet connection
- You need to have a working webcam
- You are willing to have conversations during Singapore office hours

## What to expect

**Work will be boring**. You're not going to work on anything earth-shattering in this job. We're simply doing some administrative tasks to keep the company running.

**I'm looking for 2 assistants** so you can cover each other's work. Together, we need around 5 hours of work per week. We'll be chatting regularly over Slack and occasionally via Zoom.

The minimum commitment for this job is 6 months. We'll have a 1-month probation before confirming.

## Payment Terms

For this position **you will be paid via credit** — which you can use to exchange for my time or my products. Each hour of work is worth $20 credits. Example:

- When you clock $200 credit you can exchange it for a 1h consultation with me — on anything you'd like my help with.
- When you clock $500 credit you can exchange it for Learn JavaScript Mastery.

There will be no cash exchange. If you're unhappy with these terms, don't apply.

## Applying for the position

[Please fill up this form to apply for the position.](https://forms.gle/EyT6CzfrUUEyRUdC6)

You will be contacted within 5 working days if your application is shortlisted. We will then conduct an interview, followed by some work :)

{%- endmarkdown %}
