---
layout: _layout/page
title: I'm looking for a personal assistant
newsletter: ''
footer: blank
blockRobots: true
---
<h1 class="l-article__header">
  I'm looking for an assistant who can help with my business and personal tasks.
</h1>

<div class="l-article__text">
  {% markdown %}
  Here's a summary of the position:

  1. You must **have sufficient experience working as an virtual assistant** for a business owner.
  2. This is a **part-time** position. I estimate you'll work between 10-20 hours a month. Number of hours worked may increase as we progress in our work relationship.
  3. This is a **remote** position. You can work from anywhere, as long as you can respond to communication within 24 hours.
  4. I work in the **Singapore timezone**. You must be either in Singapore or you're familiar with timezone math.
  5. You're willing and able to **help with BOTH my personal and business tasks**.

  Business tasks may include:

  1. Organizing invoices
  2. Checking and posting to social media
  3. Onboarding customers and checking in with them
  4. Checking and responding to emails
  5. Researching and improving processes at zellwk.com
  6. Proofing and editing text and emails

  Personal tasks may include:

  1. Creating calendar appointments
  2. Reminding and checking in on me.
  3. Researching and buying gifts

  You're the kind of person I'm looking for if you:

  1. Are responsible and takes initiative
  2. Trustworthy and has personal integrity
  3. Can get things done quickly and efficiently
  4. Have great spoken and written communication skills (in English).
  5. Have super attention to detail
  6. Can prioritize and execute tasks with minimal supervision
  7. Organized and immaculate
  8. Able to handle a high frequency of random tasks
  9. Prefer open, direct, and honest communication
  10. Can learn quickly on the job
  11. Have a high level of emotional intellgence
  12. Can empathize with other people

  You will be preferred if you:

  1. Have knowledge of HTML, CSS, JS, Git and other coding related skills
  2. Have design skills
  3. Have copywriting skills
  4. Are based locally in Singapore

  Please do not apply for this job if you:

  1. Are looking to switch to a carrer in tech. This is not the right job for you.
  2. Are looking to learn to code from me. This is not the right job either. Read my articles or enroll to my courses instead.
  3. Dislike administrative tasks. This will definitely not be the right job.

  ## Application Form

  If you're interested in the position, please fill up the form below. If you know someone who may be interested, please send them [this link](/job/assistant). Thanks!
  {% endmarkdown %}

  {%- form {
    redirect: '/job/job-thanks',
    spreadsheet: '1p_D6uwxM0vRxrlkQE0tufLR6QREMEaFYmtAq0hE-plE',
    subject: 'Applying for assistant position',
    initialMessage: "Thanks for applying! I'll read through your application and reply back within 3 working days. If I don't reply, please send a gentle nudge.",
    finalMessage: "If I don't get back to you for some reason, please nudge me gently by replying to this email. I make it a point to answer all applications. Thanks! :)"
  } -%}

    {%- formTextarea {
      name: 'why',
      label: "Please tell me about yourself",
      helpText: "What's your professional background and your experience in support work?"
    } -%}

    {%- formTextarea {
      name: 'self',
      label: "How would your last boss describe your personality?",
      helpText: "What would they say is your strength and what is your weakness?"
    } -%}

    <h2>How would you handle these situations?</h2>

    {% markdown %}
      1. I messaged you to contact a vendor to request for an upgrade of a purchase I made a year ago. If the answer is yes, I need a delivery of this item to my house. I might have to send the original item back too. How will you help me? Please be specific.
      2. A customer emailed to ask for a refund because the course was different from their expectations. For example, Learn JavaScript is a text-based course. It's been clearly communicated on the salespage. But a student bought the course assuming its video. How would you respond? Please write as if you're responding to the customer.
      3. I love snowboarding. I want to plan for a snowboarding trip at the end of this year. How would you help me?

      Please leave your answers in the textboxes below.
    {% endmarkdown %}

    {%- formTextarea {
      name: 'situational1',
      label: "Contacting a vendor"
    } -%}

    {%- formTextarea {
      name: 'situational2',
      label: "Response to customer asking for a refund"
    } -%}

    {%- formTextarea {
      name: 'situational3',
      label: "Helping to plan a snowboarding trip"
    } -%}

  {%- endform -%}
</div>
