---
layout: _layout/page
title: Hiring an Executive Assistant
newsletter: ''
footer: blank
---

{%- markdown %}

# {{title}}

Hi there! I’m Zell and I’m hiring an executive assistant to help ease some of the workload over at zellwk.com, so I can focus on creating content, learning, and growing the business.

## About the job

Your primary role is an executive assistant. You will help me with tasks that I delegate to you.

Tasks may include but not limited to the following:

- Customer support
- Publishing blog posts
- Consolidating financial documents
- Do research and provide suggestions
- Write company processes and documentations

This is a part-time role. Hours are flexible and you can choose your working hours.  There will be a possibility of transitioning from a part-time role to full-time in future as work load increases.

Training will be provided so no prior experience necessary.

Pay is $15USD per hour.

## About the company

We're a small company dedicated to helping people become better frontend developers. We primarily make money from selling courses that teach people how to code.

Since the company is small, (it'll just be the two of us when you join), you'll get lots of exposure into the day-to-day operations within the company.

## Requirements

Here are the basic requirements:

- You are a responsible person
- You can work without supervision
- You are **extremely meticulous**
- You have excellent command of written and spoken English
- You have good internet connection
- You're willing to work with Singapore office hours
- You will also need a working webcam since we will be chatting regularly.

## Applying for the position

[Please fill up this form to apply for the position.](https://forms.gle/ivbedvfRQCy4hr5q6)

You will be contacted within 5 working days if your application is shortlisted. We will then conduct an interview, followed by a paid trial.

{%- endmarkdown %}
