---
import Base from '@/layouts/Base.astro'
import { Markdown, Partial } from '@splendidlabz/astro'

const SEOProps = {
  title: 'Newsletter',
  description:
    'Join my newsletter to get updates on my latest projects and articles',
}
---

<Base {...SEOProps}>
  <div class="wrap">
    <article class="article max-w-narrow mx-auto">
      <h1 class="h1">
        <Markdown inline> Hey, glad you're here! </Markdown>
      </h1>
      <div id="content" class="prose-responsive">
        <!-- prettier-ignore -->
        <Markdown>
          Thanks for reading my article on CSS-Tricks. I'm really happy that you enjoyed it enough to click here :). 

          I'm Zell and I've been a web developer since forever. 
          
          These days, I build products and coach people while creating businesses that syncs with how I work. I bring a dev background and deep interest in psychology to everything I make.

          On this blog, you can expect: 

          - Articles like the ones you're reading on CSS Tricks
          - Product and course updates that I've been working on
          - My thoughts about work, life, and what I'm figuring out. 
        </Markdown>
      </div>
    </article>
    <Partial
      class="section-cont"
      path="JoinMyNewsletter"
      testimonials={['geoff-graham', 'heydon-pickering']}
    />
  </div>
</Base>
