---
layout: _layout/page
title: Thanks for joining Build Your Developer Brand
blockRobots: true
newsletter: ''
footer: blank
---

{% set link = 'https://zellwk.com/blog/build-your-developer-brand' %}
{%- markdown %}
# {{title}}

Two things:

1. I sent you an email regarding the next steps + what to expect. Let me know if you don't see the email!
2. I put a TON of work into this FREE workshop. Please help spread me spread word about it! Tell your friends! Share it on {% twitterLink title,
link %}, Facebook, and everywhere! Thank you!

{%- endmarkdown %}
