---
nav: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {%- include "_head/head.njk" %}</head>

  <body class="{{bodyClass}}">
    <div class="c-site-container">
      {%- if nav %}
        {% include "_partials/nav.njk" -%}
      {%- endif %}

      <main>
        {{- content | safe -}}
      </main>

      {%- if footer == 'blank' -%}
        {%- include '_partials/footer-empty.njk' -%}
      {%- elif footer -%}
        {%- include '_partials/footer.njk' -%}
      {%- endif -%}
    </div>

    {%- include "_partials/offsite.njk" %}
    {%- include "_partials/modal.njk" %}

    {% if env.isDev %}
      <script module src="/js/main.mjs"></script>
      <script nomodule src="/js/main-legacy.js"></script>
    {%- endif %}
    {% if env.isProd %}
      <script module src="/{{rev.main}}"></script>
      <script nomodule src="/{{rev.mainLegacy}}"></script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-34947087-6"></script>

      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-34947087-6');
      </script>

      <!-- Hotjar Tracking Code for https://zellwk.com -->
      <script defer>
        (function (h, o, t, j, a, r) {
          h.hj = h.hj || function () {
            (h.hj.q = h.hj.q || []).push(arguments)
          };
          h._hjSettings = {
            hjid: 500360,
            hjsv: 6
          };
          a = o.getElementsByTagName('head')[0];
          r = o.createElement('script');
          r.async = 1;
          r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
          a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
      </script>

    {%- endif %}
  </body>
</html>
