---
layout: _layout/html
permalink: /blog/{{ slug }}/index.html
newsletter: better-fed
footer: true
---
<div class="l-wrap">
  <article class="c-post l-post">
  <h1 class="l-article__header">{{title | markdownInline}}</h1>
    <div class="o-words c-post__content l-post__content jsPostContent">
      <span class="c-post__date l-post__date">{{page.date | readableDate }}</span>

      {%- if video %} {%- youtube video -%} {% endif %}
      {# Podcast is for old simplecast format #}
      {# Podcast2 is for new simplecast format #}
      {%- if podcast %} {%- audio podcast -%} {% endif %}
      {%- if podcast2 %} {%- audio2 podcast2 -%} {% endif %}

      {{- content | safe -}}

      {%- markdown -%}
        {% set link = '/blog/' + slug + '/'%}
        {%- shareArticle {
          siteURL: site.url,
          title: title,
          permalink: link
        } -%}
      {%- endmarkdown %}

      <nav class="article-nav">
        {% for post in collections.publishedPosts -%}
          {% if post.inputPath == page.inputPath -%}
            {%- set nextPost = collections.publishedPosts[loop.index0 - 1] %}
            {%- set previousPost = collections.publishedPosts[loop.index0 + 1] %}

            {% if previousPost.url -%}
              <a href="{{previousPost.url}}" data-link-to="previous-post">
                <svg height="1em" viewbox="0 0 22 38">
                  <path fill="currentColor" d="M18.9 38l3.1-3.1L6.1 19 22 3.1 18.9 0 0 19z"></path>
                </svg>
                <span>{{previousPost.data.title}}</span>
              </a>
            {% endif -%}

            {% if nextPost.url -%}
              <a href="{{nextPost.url}}" data-link-to="next-post">
                <span>{{nextPost.data.title}}</span>
                <svg height="1em" viewbox="0 0 22 38">
                  <path fill="currentColor" d="M3.1 0L0 3.1 15.9 19 0 34.9 3.1 38 22 19z"></path>
                </svg>
              </a>
            {% endif -%}
          {% endif -%}
        {% endfor -%}
      </nav>
    </div>

    <section class="c-ck l-ck--standard jsCkForm">
      {%- include 'convertkit.njk' -%}
    </section>
  </article>
</div>

<div class="l-wrap">
  <div class="l-post">
    <div class="l-article__text">
      {%- markdown -%}
        ## Comments are closed

        Please [contact me](/contact) if you want to talk to me about this article.

        If you spot a typo, I'd appreciate if you can correct [this page on Github](https://github.com/zellwk/zellwk.com//tree/master/{{ page.inputPath }}). Thank you!
      {%- endmarkdown -%}

    </div>
  </div>
</div>
