---
layout: _layout/html
permalink: /blog/{{ slug }}/index.html
newsletter: better-fed
footer: true
---
<div class="l-wrap">
  <article class="o-content post-layout">
    <h1>{{title | markdown}}</h1>
    <span class="post-layout__date">{{page.date | readableDate }}</span>

    {% import "_macros/media.njk" as media %}
    {{media.youtube(youtubeHash)}}

    {{- content | safe -}}

    {# Thanks part #}
    {%- markdown -%}
    {% set link = site.url + page.url %}

    If you enjoyed this article, please tell a friend about it! Share it on {% twitterLink title,
    link %}. If you spot a typo, I'd appreciate if you can correct [it on GitHub](https://github.com/zellwk/zellwk.com/blob/master/{{ page.inputPath }}). Thank you!

    {%- endmarkdown %}
  </article>

  <div class="post-layout">
    <section id="convertkit" class="o-content c-ck ck-layout jsCkForm">
      {%- include 'convertkit.njk' -%}
    </section>
  </div>

  {# Article series. Shows other articles in the same series #}
  {% if series %}
    <section class="o-words series-layout">
      <h2>Other articles in this series</h2>
      <ol>
        {% for article in collections.seriesContent %}
          {% if article.data.series == series %}
            <li>
              {% if article.url == page.url %}
                <span>{{article.data.title}}</span>
              {% else %}
                <a href="{{article.url}}">{{article.data.title | markdown}}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </section>
  {% endif %}
</div>

<div class="l-wrap">
  <div class="post-layout">
    <nav class="post-nav">
      {% for post in collections.publishedPosts -%}
        {% if post.inputPath == page.inputPath -%}
          {%- set nextPost = collections.publishedPosts[loop.index0 - 1] %}
          {%- set previousPost = collections.publishedPosts[loop.index0 + 1] %}

          {% if previousPost.url -%}
            <a class="button" data-type="outline" href="{{previousPost.url}}" data-link-to="previous-post">
              <svg height="1em" viewbox="0 0 22 38">
                <path fill="currentColor" d="M18.9 38l3.1-3.1L6.1 19 22 3.1 18.9 0 0 19z"></path>
              </svg>
              <span>{{previousPost.data.title}}</span>
            </a>
          {% endif -%}

          {% if nextPost.url -%}
            <a class="button" data-type="outline" href="{{nextPost.url}}" data-link-to="next-post">
              <span>{{nextPost.data.title}}</span>
              <svg height="1em" viewbox="0 0 22 38">
                <path fill="currentColor" d="M3.1 0L0 3.1 15.9 19 0 34.9 3.1 38 22 19z"></path>
              </svg>
            </a>
          {% endif -%}
        {% endif -%}
      {% endfor -%}
    </nav>
  </div>
</div>
