@use 'sass:math';
@use 'config/font-face';

$scale: 1.2;
//TODO: Consider better ellipses instead of Boston
$font-family: 'Boston', 'Galatea';
$line-height: 1.55;
$bold: 500;

@function fz($exponent) {
  @return math.pow($scale, $exponent) * 1rem;
}

@function ru($num) {
  @return $line-height * $num * 0.75rem;
}
