---
layout: _layout/page
title: About Zell
---

<section class="o-words l-about--initial">
  <figure class="c-about__headshot l-about__headshot">
    <img src="/images/zell-profile-pic.jpg" alt="A picture of Zell smiling :)">
  </figure>
  <h1>Hello! <span class="l-about__title-break">I&rsquo;m Zell.</span></h1>
  {%- markdown -%}
  Welcome to my little place on the internet. I'm a *designer*, *developer*, *speaker* and *writer* from Singapore.

  I've been doing this web design and development thing for a while now. So far, I had the privilege to:

  1. Help over 30,000 developers a month through [articles](/blog) I wrote.
  2. Produce in-depth courses like [Learning Susy](https://learnsusy.zellwk.com), [Automating Your Workflow](https://automateyourworkflow.com) with Gulp and [Mastering Responsive Typography](https://mastering-responsive-typography.com) amongst others.
  3. Conduct conference talks and workshops in lands far away from my small country.
  {%- endmarkdown -%}
</section>

<section class="o-words l-about">
  <div class="o-featured l-about__featured">
    <div class="o-featured__seen">As seen in</div>
    {% include "_svgs/featured.svg" -%}
  </div>
{%- markdown -%}
## Here's a little story of how I got started.

Many people think you need a design or CS degree before you can become a great designer/developer.

I have neither. I came from a Finance background.

I only started this web development thing at the age of 25 because I desperately needed some skills for creating a startup. Having only finance skills wasn't enough. After 10 months of self-taught design and development education, I found myself a freelance job and I've been freelancing ever since.

{%- include "_quotes/louis.md" %}

## That's crazy!

Yeah. I know. Before I started, I thought development was insanely hard. It's something I'll never be able to get good at even if I died trying. Likewise for design. But this story just proves that you're much better than you believe you are.

- Think you can't become a good developer? Think again.
- Think you can't become a good designer? Think again.
- Think you can't make a living freelancing? Think again.

But of course, there are real challenges to become good at something and make a living out of it. I can help you if you're interested.

## How I can help you.

Do you want real techniques from a professional in the industry?

Do you feel pressured to keep up with the latest technology, but seem to fall hopelessly behind every time?

Do you feel that tutorials out there, although useful, are usually either too beginner-ish or too advanced for your learning?

If you said yes to any these, I can help you.

**First, I know a lot about the web** since I've worked on in for a couple of years now. I constantly reinvent my techniques as new technology appears, and I'm more than happy to share battle-tested techniques I use with you.

**Second, I'm insanely practical.** I only teach techniques and frameworks that are definitely game-changing. If you're worried about keeping up, just stay along with me and I'll help filter the important stuff from the fluff.

**Third, I write pretty good tutorials** that are concise and clear. I explain all fundamental concepts and jargons you need to know. I'll help you bridge the beginner-advanced gap so you level up enough to explore the advanced zone without feeling lost and intimidated.

<figure>
  <img src="/images/about/tutorials.png" alt="">
  <figcaption>I help you bridge the beginner-advanced gap</figcaption>
</figure>

If this sounds any interesting, I invite you to leave your name and email below.

{%- include "_quotes/amarender.md" -%}

{%- endmarkdown -%}
</section>


