---
layout: _layout/html
title: About Zell
permalink: /{{ page.inputPath | pagePathOverride }}/
newsletter: better-fed
footer: true
---
<div class="l-wrap">
  <h1>Hello! I'm Zell.</h1>

  <article class="o-words about-layout">
    {%- markdown -%}
    <figure class="about__headshot">
      <img src="/images/zell-profile-pic.jpg" alt="A picture of Zell smiling :)">
    </figure>

    Welcome to my little place on the internet. I've been designing and building websites for a few years. I had the privilege to:

    1. Help over 100,000 developers a month through [my articles](/blog).
    2. Make super in-depth courses like [Learn JavaScript](https://learnjavascript.today) and [Mastering Responsive Typography](https://mastering-responsive-typography.com).
    3. Give talks at conferences (like [this](https://vimeo.com/194962824) and [this](https://www.youtube.com/watch?v=6fdIva47wZE)) and workshops in lands far away from where I live (a tiny country called Singapore).

    <div class="about__featured">
      <span>I've been featured in</span>
      {% include "_svgs/featured.svg" -%}
    </div>

    ## Here's a little story of how I got started.

    People think you need degrees to "make it" as a designer or developer. You don't. I started with nothing.

    - No computer science degree
    - No design degree

    I came from a Finance background. I was afraid to code. **I thought coding was something I would never be good at** (even if I died trying 😨).

    I only started learning to code at 25 years old (one year before I graduated from university) because I didn't want to work in a bank when I graduated.

    **I found a freelance job 10 months after I started learning to code** (while I'm still in school!). And I freelanced ever since then.

    ## That's crazy!

    Yup! I know! It's been a hell of a ride. Here's two more things I never imagined I could do (but I went ahead did them):

    - Wrote a programming book 2 years after I started coding 😱
    - Gave a talk at a conference 3 years after I started coding 😱

    **It's amazing how far you can go when you don't stop yourself.** You're much better than you think you are.This statement is for both of us.

    My story just proves that **you can learn to design and code too.**

    ## How I can help you.

    I taught myself how to design and code. It was HARD. So I understand what you're battling with: Lots of information and no direction.

    Don't worry, I'm here to help.

    First, **I know a lot about the web** since I've worked in it for so long. I constantly reinvent my techniques as new technology appears, and I'm more than happy to share my technqiues with you.

    Second, **I'm insanely practical.** I only teach techniques and frameworks that I use. If you're worried about keeping up, just stay along with me and I'll help filter the important stuff from the fluff.

    Third, **I write concise and clear tutorials**. I explain all fundamental concepts and jargons you need to know. I'll help you bridge the beginner-advanced gap so you level up enough to explore the advanced zone without feeling lost and intimidated.

    <figure>
      <img src="/images/about/tutorials.png" alt="">
      {# <figcaption>I help you bridge the beginner-advanced gap</figcaption> #}
    </figure>

    If this sounds any interesting, I invite you to leave your name and email below.

    {%- include "_quotes/louis.md" %}
    {%- include "_quotes/zoran.md" -%}

    {%- endmarkdown -%}

    <section class="o-content c-ck ck-layout jsCkForm">
      {%- include 'convertkit.njk' -%}
    </section>
  </article>
</div>
