---
layout: _layout/page
title: My best articles
---

<h1>My best articles</h1>

{%- markdown %}
Here's a list of the best/most important articles in reverse-chronological order. Feel free to read anything you're interested in!
{% endmarkdown -%}

<ol>
  {%- for post in collections.best | reverse %}
    <li>
      <a href="{{post.url | url}}">{{post.data.title}}</a>
    </li>
  {%- endfor %}
</ol>

{% markdown %}
If you have a question about frontend development, feel free to [contact me](/blog). I'll try to answer your question in a future article.
{% endmarkdown %}
