---
layout: _layout/page
title: Thanks for contacting me!
blockRobots: true
newsletter: ''
footer: blank
---
<h1>Thanks for contacting me!</h1>

{% markdown %}
  Thanks for reaching out! I've sent both of us an email. You should see it in your mailbox soon.

  **Please note:** Although I read every email, I don't have the capacity to respond to everyone. I'll only reply if your request aligns with my goals.

  If I don't get back to you for some reason, please nudge me gently by replying to the email. Thanks! :)
{% endmarkdown %}
