---
layout: _layout/page
title: Contact Zell
newsletter: ''
footer: blank
---

<h1>Contact Zell</h1>

{% markdown %}
  Thanks for your interest! Please fill out this form and I'll get back to you as quickly as I can.

  I read every email, but I don't have the capacity to respond to everyone. Please understand that.

  I usually take 3-4 days to reply. :)
  {% endmarkdown %}

{%- form {
    redirect: '/contact-thanks',
    spreadsheet: '1oVVmDNnlGbyV-PEc54XQqKnGXu3TTL8G08EEgtCOpoQ',
    subject: 'Hey Zell!',
    initialMessage: "Thanks for reaching out. I read every email, but I don't have the capacity to respond to everyone. Please understand that. I usually take 3-4 days to reply. :)",
    finalMessage: ""
  } -%}
  {%- formRadios {
      label: 'How can I help you?',
      name: 'how',
      filter: true,
      required: true,
      choices: [{
        target: 'speaking',
        value: 'Speaking requests'
      }, {
        target: 'workshop',
        value: 'Workshops requests'
      }, {
        target: 'others',
        value: 'Something else'
      }]
    } -%}

  <div id="speaking" class="c-form__group jsFormGroup" hidden aria-hidden>
    {%- include "_contact/speaking.njk" -%}
  </div>

  <div id="workshop" class="c-form__group jsFormGroup" hidden aria-hidden>
    {%- include "_contact/workshop.njk" -%}
  </div>

  <div id="others" class="c-form__group jsFormGroup" hidden aria-hidden>
    {%- include "_contact/others.njk" -%}
  </div>
{%- endform -%}
