---
layout: _layout/page
title: Free Dojo Access
---

<h1>Free Dojo Access</h1>

{%- markdown %}

Thanks for stopping by! I'm stoked you're here to claim your free access to Dojo. 

We're going to give everyone 1 - 6 months of free access depending on what you've bought with us before.

You can tell how many months of free access you have by adding up the number of months in the list below! 

- Magical Dev School — 1 month 
- Essential CSS — 1 months
- Build and Deploy — 1 month
- Understanding Async JS — 2 months 
- Learn JavaScript Starter — 2 month
- Learn JavaScript Mastery — 3 months

Note: Everyone will begin their free access to Dojo by 15th March, 2023. So even if you don't claim your free access today, we're still going to be counting down. 

We're not taking credit card information right now with this one so don't worry — you have unlimited to test things out until your Free Access expires. (And don't worry, we'll remind you before that happens). 

To claim your Free Dojo Access, simply [go and fill up this form](https://forms.gle/oeikdXvPbMi23t2y8). 

I'll see you in the community!

If you have any questions, simply [email me](/contact) and let's chat!

{% endmarkdown -%}