---
layout: _layout/page
title: Free Dojo Access
---

<h1>Free Dojo Access</h1>

{%- markdown %}

Thanks for stopping by! Sorry about this, but the email I sent about free Dojo access was meant for customers only. 

That said, you can still get access to Dojo if you join our membership! 

[Here's a link to join](https://store.zellwk.com/dojo)

I'll see you in the community!

If you have any questions, simply [email me](/contact) and let's chat!

{% endmarkdown -%}