---
layout: _layout/page
title: Gotcha
blockRobots: true
newsletter: ''
footer: blank
---

{%- markdown %}
# Okie dokes

Thanks for letting me know. I made the changes you requested 🙂.

{%- endmarkdown %}
