---
layout: _layout/page
title: Hiring Virtual Personal Assistant
newsletter: ''
footer: blank
---

{%- markdown %}

# {{title}}

Hi! My name is Zell. I'm growing a business and I need some admin support. Hopefully you can help!

This is a flexible position – you can work from home, you can schedule your time however you want. All I request is you get the work done on time.

Before you read further, I want to let you know I'm a real person. If you like to know more about me, [click here to see my headshot and read what my business is about](https://zellwk.com/about/).

## Basic requirements:

- You're based in Singapore, Malaysia, or a place with similar timezones.
- You have good command of the English Language – you can write clear and succinct sentences without supervision.
- You have reliable, high-speed internet connection
- You're comfortable with technology. You don't mind touching a bit of code (training will be provided).

## Who I'm looking for

**You love admin support.**

I'm looking for someone to help me with my daily work. You'll be the second hire so there are lots of different work to be done.

For example, editing content, posting content onto the website and social media, sending emails to subscribers, customer support, etc.

There will also be administrative work like filing of documents and checking to make sure documents like receipts and invoices are intact.

**You're meticulous and detail-oriented.**

You'll be doing are operational work – so we need details to be correct. For example, when you queue a website into the email system, we need to make sure the links are correct.

**You love checklists, systems, and spreadsheets. You love creating them too.**

We're still a young company so we have very little written processes. Part of your work with be creating the processes together with me. Some of these processes may be subjected to changes.

**You like to learn new things.**

Since I'm primarily a programmer, some of my systems require you touching a bit of code. Don't worry, step-by-step training will be provided. But you must be willing to learn.

**You love helping customers.**

You'll be providing customer support. Work here can include helping them sort out their invoices, accessing things they bought, forwarding any questions to me, etc.

No need to answer technical questions here – mainly the general ones. I'll take care of the technical ones.
Of course, training will be provided.

**Note**: if you're a super free-spirited person, dislike structure / authority, and/or you prefer clutter to order (just look at your desk right now), this position probably won't work for you. Loving to follow *and* create checklists is crucial for this role.

## Details of the job

- Timeline: Starting as soon as I find someone qualified for the job. Next few weeks would be nice.
- 30-day trial: We'll start with a 30-day trial to see how it goes. If we both like the experience, we carry on.
- Hours: Between 5 - 10 hours per week to start. Flexible, work on your own schedule.
- Pay: $15 / hour

## How to apply
If you're interested, send an email to zell@zellwk.com

In the subject line, please write "Detail-oriented person from [Insert city/town] interested Personal Assistant Job"

In the body, please write me a **14-sentence email** including the following:

1. Three sentence opening salutation that says: “Hey Zell, My name is _____. I’m detail oriented, I'm comfortable with technology, I and love checklists. I’d like to apply for the job you posted on [Insert where you found this post].”
2. Reason #1 why you think this job is a fit for you. (black font, Courier, 3 sentences)
3. Reason #2 why you think this job is a fit for you (blue font, Verdana, 3 sentences)
4. Reason #3 why you think this job is a fit for you (red font, Courier, 3 sentences)

5. Two sentence closing that has the following:
  - The names (with links) of three blog posts you saw on my website
  - A closing salutation that includes your name, email address, and phone number.

Note: Please do NOT attach a resume; if you are shortlisted I may ask for one later.

Thanks. I know the _right_ applicant will really like this job. Maybe it’s you?

Stay awesome,
Zell

{%- endmarkdown %}
