---
layout: _layout/html
permalink: /index.html
newsletter: homepage-2
bodyClass: home-page
nav: false
footer: true
---

<div class="c-site-container">
  <div class="c-home">
    <div class="c-home__content o-words">
      <section class="c-ck ck-layout--home">
        {% include 'convertkit.njk' %}
      </section>
    </div>
  </div>

  <section class="home-social">
    <div class="l-wrap">
      <div class="home-social__content">
        <h2>Zell has been featured in</h2>
        <div >
          <ul>
            {% set logos = [
              'a-list-apart',
              'css-tricks',
              'smashing-mag',
              'sitepoint',
              'css-weekly',
              'javascript-weekly',
              'free-code-camp',
              'dev'
            ] %}
            {% for logo in logos %}
              <li>{% include "_svgs/logos/" + logo + ".svg" %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="l-wrap">
      <div class="home-testimonials">
        <h2>What others are saying</h2>
        <div>
          <ul>
            {% set quotes = ['veerle', 'jerryjones', 'huijing', 'zoran'] %}
            {% for quote in quotes %}
              <li>
                {%- include '_quotes/' + quote + '.md' %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <p>
          <a class="button" data-type="secondary" href="/blog">Read the blog</a>
        </p>
      </div>
    </div>
  </section>
</div>

{# TODO: Add other things into home page for better navigation and enticing people to read more #}
