---
layout: _layout/html
permalink: /index.html
newsletter: home-start
bodyClass: home-page
nav: false
footer: false
---
<div class="c-site-container">
  <div class="c-home">
    <div class="c-home__content">
      <section class="c-home__ck jsCkForm">
        {% include 'convertkit.njk' %}
      </section>
      <p class="o-words"><a href="/blog"> Don&rsquo;t wanna sign up yet? Keep browsing around then :) </a></p>
    </div>
  </div>
</div>
{# TODO: Add other things into home page for better navigation and enticing people to read more #}
