---
layout: _layout/page
title: Frontend Wednesday
description: Frontend Wednesday is exactly what its name suggests. Every Wednesday, I'll send you an article that's guaranteed to help you become a better frontend developer. No unexplained jargons. Just plain good content.
---

<h1>Frontend Wednesday</h1>
{%- markdown -%}
Frontend Wednesday is exactly what its name suggests. Every Wednesday, I'll send you an article that's guaranteed to help you become a better frontend developer. No unexplained jargons. Just plain good content.

Here's what others have said about my articles:
{%- endmarkdown -%}

{%- include "_quotes/jerryjones.md" -%}
{%- include "_quotes/martjnbokma.md" -%}
{%- include "_quotes/vladimir.md" -%}

{%- markdown -%}
Interested in understanding this frontend development thing? I'm here to help. On top of the weekly articles, I'll send you a library of the best articles I've written so far – containing important fundamentals for CSS, JavaScript and even typography.

Just fill in your name and email below and I'll be right with you.
{%- endmarkdown -%}
