---
layout: _layout/page
title: Join Zell's Newsletter
blockRobots: true
pagination:
  data: site.newsletters
  size: 1
  alias: site
permalink: /newsletter/{{site | slug}}/index.html
---

<h1>Hey there, fellow {{site}} reader :)</h1>

{% markdown %}
Welcome!

I noticed you came over from an article I wrote for {{site}}. Have I caught your attention with a clear, concise and detailed article? 🙂

If you love to get your hands on quality articles like the one you've just read, I got lots more coming your way! To get them, just **leave your name and email below**, and I'll send you a new article each week as they're published.

No spam, no nonsense. Just pure, useful content delivered straight into your inbox, week after week.

Here's to becoming better developers together. 🍻

{%- include "_quotes/martjnbokma.md" -%}

{% endmarkdown %}
