---
layout: _layout/html
permalink: /{{ page.inputPath | pagePathOverride }}/
title: Newsletter
description:
newsletter: better-fed
footer: true
---

<div class="l-wrap">
  <article class="o-words generic-layout">
    {%- markdown -%}
    # {{title}}

    Want to become a better frontend developer? I'm here to help. Sign up with your email address and you'll get these:

    - An in-depth article about frontend development every Wednesday
    - Watch me code LIVE every Friday
    - Links to my best articles

    <p></p>

    {%- include "_quotes/jerryjones.md" -%}

    <section class="o-content c-ck ck-layout jsCkForm layout__width-override">
      {%- include 'convertkit.njk' -%}
    </section>

    {%- include "_quotes/martjnbokma.md" -%}
    {%- include "_quotes/vladimir.md" -%}
    {%- include "_quotes/amarender.md" -%}

    {%- endmarkdown -%}
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </article>
</div>
