---
layout: _layout/page
title: Page not found 😢
---

{% markdown %}
  # Page not found 😢

  If you're sure you got the right page, <a href="mailto:zell@zellwk.com">let me know</a>! Otherwise, maybe try browsing [the blog](/blog)? :)
{% endmarkdown %}
