---
layout: _layout/page
title: Page not found 😢
blockRobots: true
---

<h1>Page not found 😢</h1>
<div class="l-article__text">
  {% markdown %}
  If you're sure you got the right page, <a href="mailto:zell@zellwk.com">let me know</a>! Otherwise, maybe try browsing [the blog](/blog)? :)
  {% endmarkdown %}
</div>
