---
layout: _layout/page
title: What I'm working on now
---

<h1>{{title | markdownInline}}</h1>

{%- markdown %}
## Main projects

1. Writing [Learn JavaScript](https://learnjavascript.today) — my flagship course on JavaScript. You'll understand JavaScript and learn to build anything from scratch with it after going through this course.

## Side projects

I have many thoughts about what side project to pursue, but I haven't decided on one yet. I might, soon.
{% endmarkdown -%}
