---
layout: _layout/html
title: Parity Purchasing Power
permalink: /{{ page.inputPath | pagePathOverride }}/
newsletter: better-fed
footer: true
draft: true
---

<div class="l-wrap">
  <h1>Parity Purchasing Power</h1>

  <article class="o-words about-layout">
    {%- markdown -%}
    “Parity Purchasing Power” is an equation that helps us calculate an appropriate discount to offer people in countries where average income levels create systemic disadvantages in global commerce.

    If you **live in one if the following countries**, and **earn a local wage**, you are eligible for a discount that adjusts the normal price of JavaScript for your local purchasing power.

    For now, these discounts are by request, so please [email us](/contact) if you need this discount to get enrolled in Learn JavaScript.

    - 🇦🇫 Afghanistan
    - 🇦🇬 Antigua & Barbuda
    - 🇦🇱 Albania
    - 🇩🇿 Algeria
    - 🇦🇲 Armenia
    - 🇦🇴 Angola
    - 🇦🇷 Argentina
    - 🇦🇼 Aruba
    - 🇦🇿 Azerbaijan
    - 🇧🇦 Bosnia & Herzegovina
    - 🇧🇩 Bangladesh
    - 🇧🇫 Burkina Faso
    - 🇧🇬 Bulgaria
    - 🇧🇭 Bahrain
    - 🇧🇮 Burundi
    - 🇧🇯 Benin
    - 🇧🇳 Brunei
    - 🇧🇴 Bolivia
    - 🇧🇷 Brazil
    - 🇧🇹 Bhutan
    - 🇧🇼 Botswana
    - 🇧🇾 Belarus
    - 🇧🇿 Belize
    - 🇰🇭 Cambodia
    - 🇨🇫 Central African Republic
    - 🇹🇩 Chad
    - 🇰🇲 Comoros
    - 🇨🇬 Congo - Brazzaville
    - 🇨🇩 Congo - Kinshasa
    - 🇨🇮 Côte d’Ivoire
    - 🇨🇱 Chile
    - 🇨🇲 Cameroon
    - 🇨🇻 Cape Verde
    - 🇨🇳 China
    - 🇨🇴 Colombia
    - 🇨🇷 Costa Rica
    - 🇭🇷 Croatia
    - 🇨🇾 Cyprus
    - 🇨🇿 Czechia
    - 🇩🇯 Djibouti
    - 🇩🇴 Dominican Republic
    - 🇪🇨 Ecuador
    - 🇪🇪 Estonia
    - 🇪🇬 Egypt
    - 🇪🇹 Ethiopia
    - 🇫🇯 Fiji
    - 🇬🇦 Gabon
    - 🇬🇩 Grenada
    - 🇬🇪 Georgia
    - 🇬🇭 Ghana
    - 🇬🇲 Gambia
    - 🇬🇳 Guinea
    - 🇬🇶 Equatorial Guinea
    - 🇬🇷 Greece
    - 🇬🇹 Guatemala
    - 🇬🇼 Guinea-Bissau
    - 🇬🇾 Guyana
    - 🇭🇳 Honduras
    - 🇭🇹 Haiti
    - 🇭🇺 Hungary
    - 🇮🇩 Indonesia
    - 🇮🇳 India
    - 🇮🇶 Iraq
    - 🇮🇷 Iran
    - 🇯🇲 Jamaica
    - 🇯🇴 Jordan
    - 🇰🇪 Kenya
    - 🇰🇬 Kyrgyzstan
    - 🇰🇳 St. Kitts & Nevis
    - 🇰🇷 South Korea
    - 🇰🇼 Kuwait
    - 🇰🇿 Kazakhstan
    - 🇱🇦 Laos
    - 🇱🇧 Lebanon
    - 🇱🇷 Liberia
    - 🇱🇸 Lesotho
    - 🇱🇹 Lithuania
    - 🇱🇻 Latvia
    - 🇱🇾 Libya
    - 🇲🇦 Morocco
    - 🇲🇩 Moldova
    - 🇲🇪 Montenegro
    - 🇲🇬 Madagascar
    - 🇲🇰 Macedonia
    - 🇲🇱 Mali
    - 🇲🇲 Myanmar (Burma)
    - 🇲🇳 Mongolia
    - 🇲🇷 Mauritania
    - 🇲🇹 Malta
    - 🇲🇺 Mauritius
    - 🇲🇻 Maldives
    - 🇲🇼 Malawi
    - 🇲🇽 Mexico
    - 🇲🇾 Malaysia
    - 🇲🇿 Mozambique
    - 🇳🇦 Namibia
    - 🇳🇪 Niger
    - 🇳🇬 Nigeria
    - 🇳🇮 Nicaragua
    - 🇳🇵 Nepal
    - 🇳🇷 Nauru
    - 🇴🇲 Oman
    - 🇵🇦 Panama
    - 🇵🇪 Peru
    - 🇵🇬 Papua New Guinea
    - 🇵🇭 Philippines
    - 🇵🇰 Pakistan
    - 🇵🇱 Poland
    - 🇵🇾 Paraguay
    - 🇶🇦 Qatar
    - 🇷🇴 Romania
    - 🇷🇸 Serbia
    - 🇷🇺 Russia
    - 🇷🇼 Rwanda
    - 🇸🇦 Saudi Arabia
    - 🇸🇳 Senegal
    - 🇸🇨 Seychelles
    - 🇸🇱 Sierra Leone
    - 🇸🇬 Singapore
    - 🇸🇰 Slovakia
    - 🇸🇴 Somalia
    - 🇿🇦 South Africa
    - 🇱🇰 Sri Lanka
    - 🇸🇷 Suriname
    - 🇸🇩 Sudan
    - 🇸🇸 South Sudan
    - 🇸🇹 São Tomé & Príncipe
    - 🇸🇻 El Salvador
    - 🇸🇿 Swaziland
    - 🇹🇬 Togo
    - 🇹🇭 Thailand
    - 🇹🇯 Tajikistan
    - 🇹🇱 Timor-Leste
    - 🇹🇲 Turkmenistan
    - 🇹🇳 Tunisia
    - 🇹🇷 Turkey
    - 🇹🇹 Trinidad & Tobago
    - 🇹🇼 Taiwan
    - 🇹🇿 Tanzania
    - 🇺🇦 Ukraine
    - 🇺🇬 Uganda
    - 🇦🇪 United Arab Emirates
    - 🇺🇿 Uzbekistan
    - 🇻🇨 St. Vincent & Grenadines
    - 🇻🇳 Vietnam
    - 🇿🇲 Zambia
    - 🇿🇼 Zimbabwe

    {%- endmarkdown -%}

  </article>
</div>
