---
layout: _layout/page
title: Things I made
newsletter: ''
---
<svg style="display: none;" height="16" width="14">
  <symbol id="star" viewBox="0 0 14 16">
    <path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path>
  </symbol>
</svg>

<h1>Stuff I made</h1>

{% markdown %}
I grouped the things I made into three categories. Feel free to check them out :)
{% endmarkdown %}

<ol class="o-text-tab jsTextTab">
  <li>
    <a href="#library-section">Libraries</a>
  </li>
  <li>
    <a href="#book-section">Books</a>
  </li>
  <li>
    <a href="#course-section">Courses</a>
  </li>
</ol>

{% include "_quotes/zoran.md" %}

<p>
  <hr/>
</p>

<section id="library-section"
  class="o-words jsTextTabTarget jsLibrariesContainer"
  hidden
>
  <p></p>
  <h2>Enjoy these free libraries I made!</h2>

  {%- for repo in starredRepos %}
    <div class="o-lib">
      <h3 class="o-lib__name">{{repo.name | capitalize}}</h3>
      <div class="o-lib__stars">
      (<svg height="16" width="14"><use xlink:href="#star"/></svg>
        <span>{{repo.stargazers_count}}</span>)
    </div>
      <p>{{repo.description}}. <a href="{{repo.html_url}}">Check out {{repo.name}}</a>.</p>
    </div>
  {%- endfor %}
</section>

<section id="book-section"
  class="o-words jsTextTabTarget jsLibrariesContainer"
  hidden
>
  <p></p>
  <h2>Books. Hmmm. Good stuff. </h2>

  {%- for book in products.books %}
    <div class="l-article__extended-text o-book">
      <h3 class="o-book__title">{{book.title}}</h3>
      <img class="o-book__img" src="{{book.img}}" alt="">
      <div class="o-book__desc">
        {%- markdown -%}
        {%- include book.desc -%}
        {%- endmarkdown -%}
        <a href="{{book.url}}" class="button">Check out {{book.title}}</a>
      </div>
    </div>
  {% endfor -%}
</section>

<section id="course-section"
  class="o-words jsTextTabTarget jsLibrariesContainer"
  hidden >
  <p></p>
  <h2>Ahhhhh. Courses. </h2>
  {% for course in products.courses %}
    <div class="o-course l-article__extended-text">
      <h3 class="o-course__title">{{course.title}}</h3>
      <img class="o-course__img" src="{{course.img}}" alt="">
      <div class="o-course__desc">
        {%- markdown -%}
        {%- include course.desc -%}
        {%- endmarkdown -%}
        <a href="{{course.url}}" class="button">Check out {{course.title}}</a>
      </div>
    </div>
  {% endfor %}
</section>
