---
layout: _layout/page
title: Stay updated with RSS
newsletter: ''
---

<h1>{{title}}</h1>

{%- markdown %}
I'm glad you want to hear more from me!

**Note: I open up enrollment to my courses via email only**. You might want to [subscribe via email](/newsletter) if you don't want to miss out on course announcements!

### Subscribing via RSS

Please paste [this link](/feed.xml) in your RSS reader app.

Note: **Videos won't show up** in your RSS feed if you used the link above. (Had problems configuring RSS with Youtube. Send help if you know how to!).

### RSS for videos

Paste [this link](https://www.youtube.com/zellwk) in your RSS reader app.

{% endmarkdown -%}
