---
layout: _layout/page
---

<h1>A list of tags for this blog. </h1>

{% markdown %}
Feel free to browse around. You might find some gems inside the tags you're interested in! 😉
{%- endmarkdown %}

<ol>
  {%- for tag in collections.tagslist %}
    <li>
      <a href="/tags/{{ tag.name | slug }}/">{{tag.name | capitalize}}</a>: {{ tag.items.length }} articles</li>
  {%- endfor %}
</ol>
