---
layout: _layout/page
title: Welcome to Frontend Wednesday!
blockRobots: true
newsletter: ''
footer: blank
---
<h1>Welcome to Frontend Wednesday!</h1>

{% markdown %}
I'm super duper excited to see you've decided to join Frontend Wednesday! Make sure you check your inbox in a few minutes. I sent you something sweet. 😉

For now, I'd love to help you figure out what to do/learn next to become a better frontend developer. Would you take an extra 3 minutes and tell me about yourself? I read every email.

(Please fill in as much details as possible. You'll get much better replies from me if you give me more information about yourself. And I'd love to help, so please don't feel shy!).
{% endmarkdown %}

{%- form {
  redirect: '/thanks',
  spreadsheet: '1q5pS7Ombp6wrtzJjS0LSZRTEk2V9VrAbBe4DVh4L3aA',
  subject: "Hey Zell, here's more about me :)",
  initialMessage: "Thanks for telling me more about you! **Please note:** Although I read every email, I don't have the capacity to respond to everyone.",
  finalMessage: "That's it! :)"
} -%}

  {%- formTextarea {
    name: 'yourself',
    label: "Can you tell me more about yourself?",
    helpText: "What do you do? How long have you been learning to code? What other languages do you know? Please feel free to tell me everything :)"
  } -%}

  {%- formTextarea {
    name: 'skills',
    label: "Where are you at in terms of html, css and javascript?"
  } -%}

  {%- formTextarea {
    name: 'challenge',
    label: "What's your biggest struggle with frontend development over the last month?",
    placeholder: "I've been struggling with..."
  } -%}

  {%- formTextarea {
    name: 'help',
    label: 'How can I help?',
    placeholder: "The best way you can help me is..."
  } -%}

  {%- formTextarea {
    name: 'me',
    label: "How did you find out about me?",
    placeholder: "I found you through..."
  } -%}
{%- endform -%}
