---
layout: _layout/page
title: Welcome to the newsletter!
blockRobots: true
newsletter: ''
footer: blank
---
{% markdown %}
# Hey there! 😉

Can you tell me more about you? This would help me understand where you are on your journey, so I can write stuff that helps you!

{% endmarkdown %}

{%- form {
  redirect: '/thanks/tell-me-more',
  spreadsheet: '1q5pS7Ombp6wrtzJjS0LSZRTEk2V9VrAbBe4DVh4L3aA',
  subject: "Hey Zell, here's more about me :)",
  initialMessage: "Thanks for telling me more about you! **Please note:** Although I read every email, I don't have the capacity to respond to everyone.",
  finalMessage: "That's it! :)"
} -%}
  {%- formTextarea {
    name: 'yourself',
    label: "Can you tell me more about yourself?",
    helpText: "What do you do? How long have you been learning to code? What other languages do you know? Please feel free to tell me everything :)"
  } -%}

  {%- formTextarea {
    name: 'skills',
    label: "Where are you at in terms of html, css and javascript?"
  } -%}

  {%- formTextarea {
    name: 'challenge',
    label: "What's your #1 struggle with frontend development?",
    placeholder: "[Insert stuff here] is SO HARD!"
  } -%}

  {%- formTextarea {
    name: 'me',
    label: "How did you find out about me?"
  } -%}
{%- endform -%}
