---
layout: _layout/page
title: Terms and Conditions
---

<h1>Terms &amp; Conditions</h1>

{%- markdown %}
Last updated: 26 December, 2019.

## Overview

This website is operated by Zellwk. Throught this site, we the following terms:

- "We", “us”, and “our” refer to our team at Zellwk.
- "Site" or "website" refers to https://zellwk.com and other sites owned by Zellwk.
- "You" refer to you (the user) or the organisation you're representing.

By using our sites or purchasing from us ("Service"), you’re consenting to the terms outlined below.

## General conditions

We reserve the right to refuse service to anyone for any reason at any time.

You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us. This includes physical and educational products.

## Privacy Policy

We are committed to protecting your privacy. Only authorized inviduals within the company have access to any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.

Email signups on this website are collected via Convertkit. Their privacy statement and terms can be found at [https://convertkit.com/privacy](https://convertkit.com/privacy).

Payments on this website are processed via one of these platforms:

1. Stripe ([https://stripe.com/legal](https://stripe.com/legal))
2. Gumroad ([https://gumroad.com/privacy](https://gumroad.com/privacy))

### Information collection, use, and sharing

We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.

We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.

Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.

You may opt out of any future contacts from us at any time.

You can do the following at any time by contacting us via hello@zellwk.com:

- See what data we have about you, if any.
- Change/correct any data we have about you.
- Have us delete any data we have about you.
- Express any concern you have about our use of your data.

## Products and services

Products or services are available online through our websites. We have made every effort to display as accurately as possible.

We reserve the right to limit the quantities of any products or services that we offer.

We reserve the right to change the descriptions, pricing, and content of all products and services at any time without notice.

We reserve the right to discontinue any product at any time.

### Preorders

Refunds for preorders are goverened by our Preorder Refund Policy.

## Payments

All transactions are made via the platforms we mentioned in Privacy Policy. By making a purchase, you also agree to the platform's privacy policy.

We allow you to puchase some courses via subscription. If the subscription payment fails, you will lose access to the course until the balance is paid in full.

## Refund Policy

Your satisfaction is important to us. We want to dive in deep and experience our courses without inhibition.

### Course Refund Policy

If you're not satisfied with our courses for any reason, [contact us](mailto:hello@zellwk.com) within 30 days and we will refund every cent of your investement.

### Preorder Refund Policy

Preordered sales are considered final after 30 days. If you want a refund for a preorder, [contact us](mailto:hello@zellwk.com) within 30 days and we will refund every cent of your investement. No refunds will be provided after 30 days.

{% endmarkdown -%}
