---
layout: _layout/page
title: Welcome!
blockRobots: true
newsletter: ''
---
{% markdown %}
# Welcome!

Thanks for joining the newsletter! I sent you an email. Make sure you check your inbox in a few minutes. I sent you a few sweet 😘 links.

[Please let me know](mailto:zell@zellwk.com) if you don't see an email from me.
{% endmarkdown %}
