---
layout: _layout/page
title: Thanks for filling up the form!
blockRobots: true
newsletter: ''
footer: 'blank'
---
{% markdown %}
# Thanks for filling up the form!

I got your questions and I'll look through them as soon as I can.

You should also have received a copy of the form. Check your email. If you didn't get it, [please let me know](mailto:zell@zellwk.com).
{% endmarkdown %}
