@use './new/components/_Wrap';
@use './new/components/_BasicGrid';
@use './new/components/_FloatingCard';
@use './new/components/_Freebie';
@use './new/_utils';

// Libraries8
// ---------
@import 'lib/lib';

// Helpers
// -------
@import 'helpers/helpers';

// Variables
// ---------
@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';

// Patterns
@import 'patterns/typography';

// Reset and base files
// --------------------
@import 'base/reset';
@import 'base/typography';

// Layouts
// -------
@import 'layouts/layouts';
@import 'layouts/wrap';
@import 'layouts/article';

// Objects
// -------
// Repeatable objects across the site
@import 'objects/links';
@import 'objects/words';
@import 'objects/input';
@import 'objects/buttons';
@import 'objects/loader';
@import 'objects/text-tab';
@import 'objects/book';
@import 'objects/course';
@import 'objects/lib';
@import 'objects/zell';
@import 'objects/nav';

// Components
// ----------
// For individual, isolated components
@import 'components/form';
@import 'components/main-nav';
@import 'components/about';
@import 'components/post';
@import 'components/comments';
@import 'components/pagination';
@import 'components/ck/index';
@import 'components/ConvertkitForm';
@import 'components/footer';
@import 'components/modal';
@import 'components/offsite';
@import 'components/prism';
@import 'components/home';
@import 'components/media';
@import 'components/note';

// Utils
// -----
@import 'utils';

// Shame
table {
  border-collapse: collapse;

  th {
    text-align: left;
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.25em;
  }
}

.about-social {
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  align-items: center;
  margin-top: 0.25rem;

  li {
    margin: 0 0.5em 0 0 !important;
    width: auto;
    list-style: none !important;

    svg {
      height: 2.75rem;
    }
  }
}

article + article {
  margin-top: 2em;
}

// ========================
// For the Trial Stuff
// ========================
.Trial {
  svg {
    width: 300px;
    height: auto;
  }
}

// ========================
// New Styles
// ========================
.Box {
  border: 2px solid black;
  padding: 1rem;
}

pre code {
  tab-size: 2;
}
