// Libraries
// ---------
@import "lib/lib";

// Helpers
// -------
@import "helpers/helpers";

// Variables
// ---------
@import "variables/colors";
@import "variables/breakpoints";
@import "variables/typography";

// Patterns
@import "patterns/typography";

// Reset and base files
// --------------------
@import "base/reset";
@import "base/base";
@import "base/typography";

// Layouts
// -------
@import "layouts/layouts";
@import "layouts/wrap";
@import "layouts/article";

// Objects
// -------
// Repeatable objects across the site
@import "objects/links";
@import "objects/words";
@import "objects/input";
@import "objects/buttons";
@import "objects/loader";
@import "objects/text-tab";
@import "objects/book";
@import "objects/course";
@import "objects/lib";
@import "objects/zell";
@import "objects/nav";

// Components
// ----------
// For individual, isolated components
@import "components/form";
@import "components/main-nav";
@import "components/about";
@import "components/post";
@import "components/comments";
@import "components/pagination";
@import "components/ck/index";
@import "components/footer";
@import "components/modal";
@import "components/offsite";
@import "components/prism";
@import "components/home";
@import "components/media";
@import "components/note";

// Utils
// -----
@import "utils";

// Shame
table {
  border-collapse: collapse;

  th {
    text-align: left;
  }

  th,
  td {
    border: 1px solid black;
    padding: 0.25em;
  }
}
