@use 'config/colors';
@use 'config/borders';

@use 'reset';
@use 'base';

@use 'simplex/wrap';
@use 'simplex/images';
@use 'simplex/forms';
@use 'simplex/shapes';

@use 'complex/longform';
@use 'complex/code-block';
@use 'complex/post';
@use 'complex/pagination';
@use 'complex/convertkit';

@use 'config/typography' as *;
@use 'config/borders' as *;

.note {
  position: relative;
  font-size: fz(-1);
  line-height: 1.45;
  padding: ru(1.5) ru(0.5) ru(0.5);
  color: var(--yellow-400);
  border: 2px solid var(--yellow-600);
  background-color: var(--yellow-900);
  border-radius: $border-radius;
  margin-top: ru(1.25);
  margin-bottom: ru(1.25);

  &::before {
    content: 'Note';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    // top: calc(#{ru(-0.75)});
    // left: ru(0.5);
    padding: 0 ru(0.5) ru(0.04);
    background-color: var(--yellow-900);
    // border: 2px solid var(--yellow-600);
    border-bottom: 2px solid var(--yellow-600);
    border-right: 2px solid var(--yellow-600);
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @extend %small-caps;
    text-transform: lowercase;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   $size: ru(1.5);
  //   top: calc(#{$size}/2 * -1 - #{$border}/2);
  //   right: calc(#{$size}/2 * -1 - #{$border}/2);
  //   z-index: -1;
  //   @include shapes.square($size, var(--yellow-900));
  //   border: 2px solid var(--yellow-600);
  //   border-radius: $border-radius;
  //   transform: rotate(45deg);
  // }

  .note__deco {
    $size: ru(1);
    $border: 2px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > * {
      position: absolute;
      z-index: -1;
      @include shapes.square($size, var(--yellow-900));
      border: 2px solid var(--yellow-600);
      border-radius: $border-radius;
      transform: rotate(45deg);
    }

    .top {
      top: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      left: 0;
      right: 0;
      margin: auto;
    }

    .left {
      left: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .right {
      right: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .bottom {
      bottom: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      left: 0;
      right: 0;
      margin: auto;
    }

    // See eleventy/markdown.js to enable
    .top-left {
      top: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      left: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
    }

    .top-right {
      top: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      right: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
    }

    .bottom-left {
      bottom: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      left: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
    }

    .bottom-right {
      bottom: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
      right: calc(#{$size}/ 2 * -1 - #{$border}/ 2);
    }
  }
}
