---
import MainNav from '../components/MainNav.svelte'
import Footer from '../components/Footer.astro'
import '../styles/styles.css'
import Head from './Base/Head.astro'
const { bodyClass, ...props } = Astro.props
---

<html lang="en" class="scrollbars-on">
  <head>
    <Head {...props} />
  </head>

  <body class={`${bodyClass}  `}>
    <div class="shell-simple">
      <header><MainNav client:idle /></header>
      <main class="content my-16"><slot /></main>
      <Footer />
    </div>

    <script>
      import { fb, ph } from '@/services/tracking/web'
      import { masonry } from '@splendidlabz/styles/scripts'

      fb.init()
      fb.track('PageView')
      ph.init()

      masonry()
    </script>
  </body>
</html>
