---
import MainNav from '../components/MainNav.svelte'
import Footer from '../components/Footer.astro'
import '../styles/styles.css'
import Head from './Base/Head.astro'
const { bodyClass, ...props } = Astro.props
---

<html lang="en" class="scrollbars-on">
  <head>
    <Head {...props} />
  </head>

  <body class={`${bodyClass}  `}>
    <div class="shell-simple">
      <header><MainNav client:idle /></header>
      <main class="content my-16"><slot /></main>
      <Footer />
    </div>

    <script>
      import { fb, ph } from '@/services/tracking/web'

      fb.init()
      fb.track('PageView')
      ph.init()
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FF5QLS3KNY"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-FF5QLS3KNY')
    </script>
  </body>
</html>
