---
// import '../scss/styles.scss'
import Nav from '../components/Nav.svelte'
import Footer from '../partials/Footer.mdx'
import '../styles/styles.css'
import Head from './Base/Head.astro'
const { bodyClass, showNav = true, ...props } = Astro.props
---

<html lang='en'>
  <head>
    <Head {...props} />
  </head>

  <body class={bodyClass}>
    <div class='c-site-container'>
      {
        showNav && (
          <header>
            <Nav client:load />
          </header>
        )
      }
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
