---
import Base from './Base.astro'
import ConvertkitForm from '../components/ConvertkitForm.astro'
const props = Astro.props.content

const { title, ckForm, showCkForm = true } = props
const layoutClass = props.layoutClass || 'generic-layout'
---

<Base {...props}>
  <div class='l-wrap'>
    <article class={`o-words ${layoutClass}`}>
      <h1>{title}</h1>

      <slot />

      {
        showCkForm && (
          <section class='o-content c-ck ck-layout'>
            <ConvertkitForm name={ckForm} />
          </section>
        )
      }
    </article>
  </div>
</Base>
