---
import { Markdown } from '@splendidlabz/astro'
import { ContentList } from '@splendidlabz/svelte'
import Base from './Base.astro'
const props = Astro.props.content
const { title } = props
---

<Base {...props}>
  <div class="wrap">
    <article class="article grid-content-sidebar">
      <div class="vertical">
        <header>
          <h1 class="h1">
            <Markdown inline>{title} </Markdown>
          </h1>
        </header>
        <div id="content" class={`prose`}>
          <slot />
        </div>
      </div>

      <div class="w-[10rlh] max-w-full max-bp10:hidden">
        <ContentList
          class="content-list sticky top-4"
          label="On This Page"
          selector="#content"
          listClass="indentlist"
          client:idle
        />
      </div>
    </article>
  </div>
</Base>
