// Colors
// ======
// For project colors.
//
// Approach:
// ---------
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://chir.ag/projects/name-that-color/
//
// Usage:
// ------
// .test {
//   background-color: color(shamrock);
// }
//
// OPTIONAL:
// --------
// Sublime gutter: https://sublime.wbond.net/packages/Gutter%20Color
// See the colors you used in the gutter (Awesome if you use sublime text)
// ==========

$colors: (
  w: #fff,
  alabaster: #fafafa,
  gallery: #eee,
  aluminium: #999,
  monsoon: #777,
  mine: #343434,
  // radred: #69e7f6,
  radred: #e4cc4d,
  neonblue: #4453f1,
  picton: #39b1ff,
  malachite: #12c766,
  geebung: #d28c14,
);
