// Base Typography Declarations
// ===============
@include typi-init;

html {
  @include tp-sans;
  color: color(mine);
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}

h1 {
  @include tp-display;
}

h2 {
  @include tp-text2;
}

h3 {
  @include tp-condensed1;
}

a {
  text-decoration: none;
}

strong {
  @include fw("sans", 600);
}

em {
  font-style: italic;
}

code {
  @include tp-code;
  color: inherit;
}

pre {
  @include wrap-words;
  background-color: color(mine);
  white-space: pre-wrap;

  code {
    @include tp-code--pre;
  }
}

blockquote {
  padding-left: vr(0.5);
  border-left: vr(0.175) solid var(--theme-color);
  @include tp-text--italic;

  > cite {
    @include tp-condensed2;
    display: block;
    margin-top: vr(0.125);
    color: var(--theme-color);
    font-style: normal;
    text-transform: none;
    display: flex;
    align-items: center;

    img {
      max-width: 3.5rem;
      border-radius: 100%;
      margin-top: vr(0.125);
      border: 1px solid #777;
    }

    img + span {
      margin-left: 0.5rem;
    }
  }
}

figcaption {
  @include tp-sans2;
}
