<div class="c-form__item">
{% markdown %}
I'd love to, and I'm happy to speak at your conference/event if you provide flights and accommodations. Please tell me more about your conference. Let's see if I can make it!
{% endmarkdown %}
</div>

{% formInput {
  name: 'speaking-name',
  label: "What's the name of your conference?",
  required: true
} %}

{% formInput {
  name: 'speaking-topic',
  label: "What would you like me to speak about?",
  required: true
} %}

{% formTextarea {
  name: 'speaking-anything else',
  label: "Is there anything else I should know about?",
  required: true
} %}
