@layer base {
  html {
    @apply stinger;
    --font-weight: 350;
    line-height: 1.5;
  }

  body {
    @apply text-9;
    color: var(--color-zpurple-100);
    background-color: var(--color-zpurple-1000);
  }

  strong,
  .strong {
    @apply stinger;
    --font-weight: 600;
    color: var(--color-zviolet-300);
  }

  a:where(:not(.button)) {
    --text-color: var(--color-zcyan-600);
    --text-hover-color: var(--color-zcyan-700);
  }

  h1 {
    @apply h1;
    color: var(--color-zorange-500);
  }

  :not(pre) > code {
    @apply mono;
    font-size: 0.825em;
    letter-spacing: -0.05em;
    color: var(--color-zred-400);
  }

  a:has(> code) {
    --text-color: var(--color-zred-400);
    --text-hover-color: var(--color-zred-600);

    > code {
      @apply pigment-without-border;
    }
  }
}

pre {
  @apply scrollbar-thin;
  @apply mono;
  --radius: 0.25rem;
  font-size: 0.65em;
  line-height: 1.45;
}
