@theme {
  --color-zcyan-100: oklch(94.25% 0.0248 209.25deg);
  --color-zcyan-500: oklch(81.47% 0.1415 211.094deg);
  --color-zcyan-600: oklch(72.793% 0.12765 213.452deg);
  --color-zcyan-700: oklch(57.09% 0.1011 215.437deg);
  --color-zcyan-800: oklch(44% 0.08 215.06deg);
  --color-zorange-500: oklch(84.03% 0.1724 84.08deg);
  --color-zorange-600: oklch(74% 0.16 82.99deg);
  --color-zorange-800: oklch(33.6% 0.0687 87.22deg);

  /* --color-zpurple-50: oklch(87.95% 0.0289 294.54deg); */
  --color-zpurple-50: oklch(92.965% 0.01509 277.802deg);
  --color-zpurple-100: oklch(89.023% 0.0195 276.301deg);
  --color-zpurple-200: oklch(78% 0.12 273.93deg);
  --color-zpurple-300: oklch(72% 0.15 276.74deg);
  --color-zpurple-500: oklch(67.83% 0.1705 275deg);
  --color-zpurple-500d: oklch(65.68% 0.0433 278.96deg);
  --color-zpurple-600: oklch(58% 0.17 273.9deg);
  --color-zpurple-600d: oklch(57.914% 0.1304 275.988deg);
  --color-zpurple-700: oklch(46% 0.1 275.67deg);
  --color-zpurple-800: oklch(25% 0.04 277.33deg);
  --color-zpurple-900: oklch(24.87% 0.0134 298.48deg);
  --color-zpurple-1000: oklch(18% 0.02 294.14deg);
  --color-zpurple-1100: oklch(13.18% 0.0075 301.63deg);
  --color-zpurple-800d: oklch(24.58% 0.0058 301.11deg);

  /* Violet */
  --color-zviolet-300: oklch(74% 0.18 300.59deg);

  /* Red */
  --color-zred-50: oklch(90.485% 0.016947 22.287deg);
  --color-zred-400: oklch(71.485% 0.16947 22.287deg);
  --color-zred-500: oklch(67.803% 0.19798 24.042deg);
  --color-zred-600: oklch(62% 0.21 25.26deg);
  --color-zred-700: oklch(53% 0.17 24.69deg);
  --color-zred-800: oklch(22% 0.05 23.85deg);
  --color-zred-900: oklch(14.963% 0.02426 20.306deg);
  --color-zred-700d: oklch(30% 0.07 21.83deg);

  /* Gray */
  --color-zgray-300: oklch(84% 0.0084 278.61deg);
  --color-zgray-400: oklch(78.58% 0 0deg);
  --color-zgray-500: oklch(59.65% 0 0deg);
  --color-zgray-600: oklch(41.28% 0 0deg);
  --color-zgray-700: oklch(36% 0 0deg);
  --color-zgreen-500: oklch(66% 0.21 153.75deg);
}
