@theme {
  --font-june: 'june-expt-variable', 'June Expt Variable', sans-serif;
  --font-stinger: 'stinger-variable', 'Stinger Variable', sans-serif;
  --font-snug: 'snug-sharp-variable', 'Snug Sharp VF', sans-serif;
}

@utility june {
  @apply font-june;
  font-variation-settings: 'STYL' var(--font-style, 40);
}

@utility june-curious {
  @apply june;
  --font-style: 100;
}

@utility stinger {
  @apply font-stinger;
  font-variation-settings:
    'wght' var(--font-weight, 350),
    'wdth' var(--font-width, 100);
}

@utility stinger-fit {
  @apply stinger;
  --font-width: 108;
  --font-weight: 325;
}

@utility snug {
  @apply font-snug;
  line-height: 1;
  font-variation-settings:
    'wdth' var(--font-width, 55),
    'wght' var(--font-weight, 700),
    'XHGT' var(--font-xheight, 100);
}

@utility snug-meta {
  @apply snug;
  --font-weight: 700;
  --font-width: 100;
}

@utility mono {
  font-family: 'Spline Sans Mono', monospace;
}

/*********************
 * Patterns *
 *********************/

@utility eyebrow {
  @apply pigment;
  @apply stinger;
  @apply text-6;
  --font-weight: 400;
  --border-width: 0;
  --text-color: oklch(61% 0.1 85.79deg);
  text-transform: uppercase;
  letter-spacing: 0.11em;

  &.pill {
    @apply px-3 py-1;
    @apply pill;
    @apply text-5;
    --bg-color: var(--color-zorange-900);
    --bg-hover-color: var(--color-zorange-800);
    --text-hover-color: inherit;
    --border-width: 1.5px;
    --border-color: currentcolor;
    --border-hover-color: currentcolor;
    letter-spacing: 0.08em;
  }
}

@utility h1 {
  @apply june;
  @apply text-16 bp8:text-18;
  --font-style: 80;
  line-height: 1.22;
}

.h1 + [class*='prose'] {
  @apply mt-4;
}

@utility h1-subhead {
  @apply snug;
  @apply text-12 bp8:text-14;
  --font-weight: 700;
  line-height: 1.15;
  color: var(--color-zgray-400);
}

@utility h2 {
  @apply june;
  @apply text-13 bp8:text-15;
  --font-style: 80;
  line-height: 1.4;
}

@utility h3 {
  @apply june;
  @apply text-11 bp8:text-13;
  --font-style: 80;
  line-height: 1.4;
}

@utility h4 {
  @apply june;
  @apply text-10 bp8:text-10;
  --font-style: 65;
  line-height: 1.4;
}
