@theme {
  --border-width: 2px;
  --border-color: var(--color-zgray-700);
  --radius: 0.5rlh;
  --spacing: 0.25rlh;
  --outline-width: 2px;

  /* For gaps */
  --spacing-large: 2rlh;
  --spacing-section: 5rlh;

  /* Max widths */
  --spacing-narrow: 45rem; /* 720px */
  --spacing-mid: 65rem; /* 960px */
  --spacing-standard: 84rem; /* 1344px */

  /* Scrollbars */
  --scrollbar-thumb-color: var(--color-zpurple-600d);
  --scrollbar-track-color: var(--color-zpurple-800);
}
