<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{%- set pageTitle %}
  {%- if title -%}
    {{title}} | {{site.title}}
  {%- else -%}
    {{site.title}}
  {%- endif -%}
{%- endset %}

{# Set description #}
{%- set pageDesc -%}
  {% getDesc page, description, site.description %}
{%- endset -%}

<title>{{- pageTitle | decode -}}</title>
<meta name="description" content="{{- pageDesc -}}"/>
<link rel="canonical" href="{{- site.url -}} {{- page.url }}">
{% if blockRobots -%} <meta name="robots" content="noindex, follow"> {%- endif %}

{#- -#}
{%- include "_head/assets.njk" -%}
{%- include "_head/favicon.njk" -%}
{%- include "_head/social.njk" -%}
{#- -#}

<link rel="alternate" type="application/rss+xml" title="Feed for articles" href="/feed.xml">
