{% if site.socialImage or socialImage %}
  {% set image = socialImage or site.socialImage %}
  <meta property="og:image" content="{{site.url}}{{ image }}"/>
  <meta name="twitter:image" content="{{site.url}}{{ image }}"/>
  <meta property="og:image:alt" content="Page image for {{ pageTitle }}"/>
  <meta name="twitter:image:alt" content="Page image for {{ pageTitle }}"/>
{% endif %}

{% if site.author.twitter %}
  <meta name="twitter:creator" content="@{{ site.author.twitter | replace('@', '') }}"/>
{% endif %}
